@use '@styles/colors' as *;
@use '@styles/mixins' as *;


.kustomer-hero {
    background-size: 20rem auto;
    position: relative;
    height: 100vh;
    contain: paint;
    padding-bottom: 5rem;
    @include md {
        height: auto;
    }

    &-subtitle {
        padding-top: clamp(16rem, 18.75vh, 50%);
        grid-column: 4/14;
        text-align: center;
        margin-bottom: 1.6rem;

        @include md {
            margin-bottom: .8rem;
            grid-column: 3/11;
            max-width: 45.6rem;
        }

        @include sm {
            grid-column: 1/-1;
            text-align: start;
        }
    }

    &-title {
        grid-column: 3/15;
        text-align: center;
        max-width: 83.3rem;
        margin: auto;

        @include md {
            grid-column: 2/12;
        }

        @include sm {
            grid-column: 1/-1;
            @include text(h2);
            text-align: start;
        }
    }

    &-slide {
        display: flex;
        align-items: end;
        position: absolute;
        height: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        height: calc(100vh - 56.49vh);
        z-index: 2;
        cursor: grab;
        margin-top: 7.6rem;

        @include md {
            position: relative;
            height: 27.8rem;
            margin-top: 9rem;
        }
        @include sm {
            height: 15.2rem;
            position: relative;
            margin-top: 4rem;
        }

        canvas {
            position: relative;
            height: 100%;
            width: 100%;
        }

        &-middle {
            order: 2;
        }

        &-left {
            order: 1;
        }

        &-right {
            order: 3;
        }
    }
}