@use '@styles/colors' as *;
@use '@styles/mixins' as *;


.kustomer-hero {
    // background-color: var(--cl-bg-dark);
    // background: var(--bg-txt-dark) repeat;
    background-size: 20rem auto;
    position: relative;
    height: 100vh;
    contain: paint;
    padding-bottom: 5rem;
    &-subtitle {
        padding-top: 18.75vh;
        grid-column: 4/14;
        text-align: center;
        margin-bottom: 1.6rem;
    }

    &-title {
        grid-column: 3/15;
        text-align: center;
        max-width: 83.3rem;
        margin: auto;
        // color: var(--cl-txt-light);
    }

    &-slide {
        display: flex;
        align-items: end;
        position: absolute;
        height: 100%;
        // inset: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: calc(100vh - 56.49vh);
        cursor: grab;
        canvas {
            position: relative;
            height: 100%;
            width: 100%;
        }

        &-middle {
            order: 2;
        }

        &-left {
            order: 1;
        }

        &-right {
            order: 3;
        }
    }
}