@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.kustomer-cata {
    --HomeProductCardHeight: 66.2rem;

    padding-bottom: 28.8rem;
    contain: paint;

    @include md {
        --HomeProductCardHeight: 41rem;
        padding-bottom: 10rem;
    }

    @include sm {
        --HomeProductCardHeight: 42rem;
    }

    &-title-wrap {
        grid-column: 1/12;

        @include md {
            grid-column: 1/-1;
        }
    }

    &-title {
        max-width: 99rem;

        @include md {
            @include text(h1);
            max-width: 45rem;
        }

        @include sm {
            @include text(h2)
        }
    }

    &-label {
        margin-bottom: 2rem;

        @include md {
            @include text(h5);
            margin-bottom: 1.2rem;
        }
    }

    &-des {
        grid-column: 13/17;
        align-self: end;
        margin-bottom: .9rem;
        max-width: 29rem;

        span {
            display: inline;
        }

        @include md {
            display: none;
        }
    }

    &-main {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(var(--grid-column), 1fr);
        column-gap: var(--grid-gap);
        margin-top: 13rem;

        @include md {
            margin-top: 6rem;
        }

        @include sm {
            display: flex;
            flex-direction: column;
        }

        &-content-wrap {
            grid-column: 1/10;
            display: flex;
            flex-direction: column;
            row-gap: 16rem;

            @include md {
                grid-column: 1/7;
                row-gap: 6rem;
            }
        }

        &-content {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            column-gap: var(--grid-gap);

            @include md {
                grid-template-columns: repeat(7, 1fr);
            }

            &:last-child {
                .kustomer-cata-main-content-des-subtitle {
                    max-width: 38.2rem;
                }
            }


            &-des {
                grid-column: 1/5;

                @include md {
                    grid-column: 1/7;
                    margin-bottom: 4rem;
                }

                &-title {
                    margin-bottom: 2rem;

                    @include md {
                        margin-bottom: 1.2rem;
                    }
                }

                &-subtitle {
                    max-width: 28.5rem;

                    @include md {
                        @include text(16);
                    }

                    @include sm {
                        max-width: 30.4rem;
                    }
                }
            }

            &-list {
                grid-column: 6/-1;
                margin-left: calc(var(--grid-gap) * -1);

                @include md {
                    grid-column: 1/-1;
                    margin-left: 0;
                }

                @include sm {
                    display: none;
                }

                &-item {
                    position: relative;
                    width: 100%;
                    padding: 3rem 0px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &-name {
                        transition: all .4s ease;
                    }

                    &-count {
                        opacity: .4;

                        @include md {
                            @include text(h6)
                        }
                    }

                    .line {
                        position: absolute;
                        top: -.1rem;
                        left: 0;

                        .line-inner {
                            width: 100%;
                            height: 100%;
                            background-color: var(--cl-orange);
                            transform: scaleX(0);
                            transition: transform .4s ease;
                            transform-origin: left;
                        }
                    }

                    .line-bot {
                        position: absolute;
                        top: auto;
                        left: 0;
                        bottom: -.1rem;
                        background-color: var(--cl-txt);
                        @include size(100%, .2rem);
                    }

                    &:hover,
                    &.active {
                        .kustomer-cata-main-content-list-item-name {
                            color: var(--cl-orange);
                        }

                        .line-inner {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }

    &-card {
        position: relative;
        grid-column: 11/16;

        @include md {
            grid-column: 8/-1;
        }

        &-inner {
            position: relative;
            height: var(--HomeProductCardHeight);
            top: calc((100vh - var(--HomeProductCardHeight)) / 2);
            position: sticky;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: opacity 400ms ease;

            // opacity: 0;
            // pointer-events: none;
            &.active {
                opacity: 1;
                pointer-events: auto;
            }

            .img {
                pointer-events: none;
                user-select: none;
            }
        }

        &-top {
            display: flex;
            height: 10rem;
            justify-content: space-between;
            border-bottom: solid .2rem var(--cl-txt);
            align-items: center;
            border: solid .2rem var(--cl-txt);

            @include md {
                height: 5.6rem;
            }

            &-txt {
                margin-left: 3.2rem;
                max-width: 13.6rem;

                @include md {
                    margin-left: 1.2rem;
                    margin-right: 1.2rem;
                    @include text(14);
                }
            }
        }

        &-nav {
            display: flex;
            // margin-right: .1rem;

            &-item {
                @include size(10.2rem, 10rem);
                border-left: solid .2rem var(--cl-txt);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--cl-txt);

                @include md {
                    @include size(5.7rem, 5.6rem);
                }

                .ic {
                    transition: all 200ms ease;
                }

                &:not(.disable):hover {
                    color: var(--cl-orange)
                }

                &:not(.disable):active {
                    .ic {
                        transform: translateX(.5rem);
                    }

                    &:first-child {
                        .ic {
                            transform: rotate(180deg) translateX(.5rem);
                        }
                    }
                }

                &:first-child .ic {
                    transform: rotate(180deg);
                }

                &.disable {
                    pointer-events: none;

                    .ic {
                        opacity: .2;
                    }
                }
            }
        }

        &-middle {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            border: solid .2rem var(--cl-txt);
            border-bottom: none;
            border-top: none;

            &-inner {
                user-select: none;
                @include size(100%);

                img {
                    margin-left: -25%;
                    width: 150%;
                }

                &-canvas {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100vw;
                    height: 100vh;
                    pointer-events: none;
                    user-select: none;

                    * {
                        pointer-events: none !important;
                    }
                }
            }
        }

        &-bottom {
            display: flex;
            height: 10rem;
            justify-content: space-between;
            align-items: center;
            border: solid .2rem var(--cl-txt);

            @include md {
                height: 5.6rem;
            }

            &-txt-wrap {
                margin-left: 3.2rem;
                margin-right: 3.2rem;
                display: grid;
                align-items: center;

                @include md {
                    margin-left: 1.2rem;
                }
            }

            &-txt {
                grid-column: 1/2;
                grid-row: 1/2;
                opacity: 0;
                pointer-events: none;
                transition: opacity .4s ease;

                @include md {
                    @include text(h6);
                }

                &.active {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }

        &-qr {
            border-left: solid .2rem var(--cl-txt);
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: 1/1/2/2;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.4s ease;
            @include size(10.2rem, 10rem);

            @include md {
                @include size(5.7rem, 5.6rem);

                .ic {
                    @include size(4rem);
                }
            }

            &.active {
                opacity: 1;
                pointer-events: auto;
            }

            &-wrap {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }
}