@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.kustomer-cata {
    --btnHeight: 16.8rem;
    --HomeProductCardHeight: 66.2rem;
    --SectionPadBot: 28.8rem;


    // padding-bottom: 20rem;
    padding-bottom: var(--SectionPadBot);
    contain: paint;

    &-title-wrap {
        grid-column: 1/12;
    }

    &-title {
        max-width: 99rem;
    }

    &-label {
        margin-bottom: 2rem;
    }

    &-des {
        grid-column: 13/16;
        align-self: end;
        margin-bottom: .9rem;
        max-width: 29rem;

        span {
            display: inline;
        }
    }

    &-main {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(var(--grid-column), 1fr);
        column-gap: var(--grid-gap);
        margin-top: 13rem;

        &-content-wrap {
            grid-column: 1/10;
        }

        &-content {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            column-gap: var(--grid-gap);
            margin-bottom: 16rem;

            &:last-child {
                margin-bottom: 0;

                .kustomer-cata-main-content-des-subtitle {
                    max-width: 38.2rem;
                }
            }

            &-des {
                grid-column: 1/5;

                &-title {
                    margin-bottom: 2rem;
                }

                &-subtitle {
                    max-width: 28.5rem;
                }
            }

            &-list {
                grid-column: 6/-1;
                margin-left: calc(var(--grid-gap) * -1);

                &-item {
                    position: relative;
                    width: 100%;
                    padding: 3rem 0px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &-name {
                        transition: all .4s ease;
                    }

                    &-count {
                        opacity: .4;
                    }

                    .line {
                        position: absolute;
                        top: -.1rem;
                        left: 0;

                        .line-inner {
                            width: 100%;
                            height: 100%;
                            background-color: var(--cl-orange);
                            transform: scaleX(0);
                            transition: transform .4s ease;
                            transform-origin: left;
                        }
                    }

                    .line-bot {
                        top: auto;
                        bottom: -.1rem;
                    }

                    &:hover,
                    &.active {
                        .kustomer-cata-main-content-list-item-name {
                            color: var(--cl-orange);
                        }

                        .line-inner {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }

    &-card {
        position: relative;
        grid-column: 11/16;

        &-inner {
            position: relative;
            height: var(--HomeProductCardHeight);
            top: calc((100vh - var(--HomeProductCardHeight)) / 2);
            position: sticky;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: opacity 400ms ease;
            // opacity: 0;
            // pointer-events: none;
            &.active {
                opacity: 1;
                pointer-events: auto;
            }

            .img {
                pointer-events: none;
                user-select: none;
            }
        }

        &-top {
            display: flex;
            height: 10rem;
            justify-content: space-between;
            border-bottom: solid .2rem var(--cl-txt);
            align-items: center;
            border: solid .2rem var(--cl-txt);

            &-txt {
                margin-left: 3.2rem;
                max-width: 13.6rem;
            }
        }

        &-nav {
            display: flex;
            // margin-right: .1rem;

            &-item {
                @include size(10.2rem, 10rem);
                border-left: solid .2rem var(--cl-txt);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--cl-txt);

                .ic {
                    transition: all 200ms ease;
                }

                &:not(.disable):hover {
                    color: var(--cl-orange)
                }

                &:not(.disable):active {
                    .ic {
                        transform: translateX(.5rem);
                    }

                    &:first-child {
                        .ic {
                            transform: rotate(180deg) translateX(.5rem);
                        }
                    }
                }

                &:first-child .ic {
                    transform: rotate(180deg);
                }

                &.disable {
                    pointer-events: none;

                    .ic {
                        opacity: .2;
                    }
                }
            }
        }

        &-middle {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            border: solid .2rem var(--cl-txt);
            border-bottom: none;
            border-top: none;

            &-inner {
                user-select: none;
                @include size(100%);
                img {
                    margin-left: -25%;
                    width: 150%;
                }
                &-canvas {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100vw;
                    height: 100vh;
                    pointer-events: none;
                    user-select: none;
                    * {
                        pointer-events: none !important;
                    }
                }
            }
        }

        &-bottom {
            display: flex;
            height: 10rem;
            justify-content: space-between;
            align-items: center;
            border: solid .2rem var(--cl-txt);

            &-txt-wrap {
                margin-left: 3.2rem;
                margin-right: 3.2rem;
                display: grid;
                align-items: center;
            }

            &-txt {
                grid-column: 1/2;
                grid-row: 1/2;
                opacity: 0;
                pointer-events: none;
                transition: opacity .4s ease;

                &.active {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }

        &-qr {
            border-left: solid .2rem var(--cl-txt);
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: 1/1/2/2;
            // opacity: 0;
            pointer-events: none;
            transition: opacity 0.4s ease;
            @include size(10.2rem, 10rem);

            &.active {
                opacity: 1;
                pointer-events: auto;
            }

            &-wrap {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }
}