@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.home-brand {
    height: auto;
    overflow: hidden;
    @include sm {
        padding-top: 7rem;
    }
    .container {
        height: 100%;
    }
    &-canvas {
        grid-column: 1/10;
        position: relative;
        z-index: 2;
        &-inner {
            height: 100vh;
            position: sticky;
            top: 0;
            @include sm {
                height: 100%;
            }
        }
        @include md {
            grid-column: 1/7;
        }
        @include sm {
            grid-column: span 4;
            aspect-ratio: 1;
            margin-bottom: 4.4rem;
        }
    }
    .line {
        width: 100%;
        height: .2rem;
        background-color: var(--cl-txt);
        &-ver {
            height: 100%;
            width: .2rem;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            @include sm {
                position: relative;
                transform: none;
                width: 100%;
                height: .2rem;
                grid-column: span 4;
                left: 0;
                grid-row: 2/3;
            }
        }
        &-bot {
            grid-column: 1/-1;
            position: absolute;
            bottom: 0;
            @include sm {
                position: relative;
                grid-column: span 4;
            }
        }
    }

    &-title {
        margin-bottom: 5.2rem;
        max-width: 61.8rem;
        @include md {
            @include text(h1);
            max-width: 31rem;
            margin-bottom: 3.2rem;
        }
        @include sm {
            grid-column: span 4;
            width: 100%;
        }
    }
    &-main {
        padding-top: 8rem;
        padding-bottom: 2.5rem;
        grid-column: 10/17;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include md {
            grid-column: 8/13;
            padding-top: 5.6rem;
            padding-bottom: 2.4rem;
            margin-left: -1.6rem;
        }
        @include sm {
            grid-column: span 4;
            margin-left: 0;
            padding-top: 0;
            padding-bottom: 3.2rem;
        }
        &-list {
            @include sm {
                overflow: visible !important;
            }
        }
        &-item {
            position: relative;
            padding-block: 5.2rem;
            > * {
                @include transition(opacity 400ms ease);
            }
            @include md {
                padding-block: 3.2rem;
            }
            @include sm {
                --width-slide: calc(100% - 4.3rem) !important;
                padding-block: 0;
                min-width: var(--width-slide);
                max-width: var(--width-slide);
            }
            .line {
                position: absolute;
                top: 0;
                left: 0;
                @include sm {
                    display: none;
                }
            }
            &-head {
                display: flex;
                align-items: start;
                justify-content: space-between;
                margin-bottom: 5.2rem;
                @include md {
                    margin-bottom: 2rem;
                }
            }
            &-title {
                max-width: 45.7rem;
                @include md {
                    @include text(h5);
                    max-width: 28rem;
                }
            }
            &-ic {
                margin-top: 1rem;
                @include md {
                    margin-top: .5rem;
                }
                .ic-16 {
                    @include sm {
                        @include size(1rem);
                    }
                }
            }
            &-sub {
                @include md {
                    @include text(14);
                }
            }
        }
        @media (hover:hover) {
            :hover {
                .home-brand-main-item:not(:hover) {
                    > *:not(.line) {
                        opacity: .5;
                    }
                }
            }
        }
    }
}