@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.home-brand {
    height: auto;
    @include sm {
        padding-top: 7rem;
        overflow: hidden;
    }
    .container {
        height: 100%;
    }
    &-canvas {
        grid-column: 1/9;
        margin: 0 -20rem;
        grid-row: 1/3;
        position: relative;
        z-index: 2;
        pointer-events: none;
        * {
            pointer-events: none !important;
        }
        &-inner {
            min-height: 100vh;
            height: 100vh;
            position: sticky;
            top: 0;
            display: grid;
            &-item {
                grid-column: 1/2;
                grid-row: 1/2;
                transition: all 600ms ease;
                z-index: 2;
                position: relative;
                &.blur {
                    filter: blur(5px);
                    opacity: .8;
                    z-index: 1;
                }
            }
            @include md {
                min-height: 0;
            }
            @include sm {
                height: 35rem;
            }
        }
        @include md {
            grid-column: 1/7;
        }
        @include sm {
            grid-column: 1/-1;
            grid-row: 2/3;
            margin-bottom: 4.4rem;
            margin-inline: -2rem;
        }
        @include xs {
            margin-inline: -1.6rem;
        }
    }
    .line {
        width: 100%;
        height: .2rem;
        background-color: var(--cl-txt);
        &-ver {
            height: 100%;
            width: .2rem;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            @include sm {
                position: relative;
                transform: none;
                width: 100%;
                height: .2rem;
                left: 0;
                grid-area: 2/1/3/5;
            }
        }
        &-bot {
            grid-column: 1/-1;
            position: absolute;
            bottom: 0;
            @include sm {
                position: relative;
                grid-column: span 4;
            }
        }
    }

    &-title {
        padding-top: 8rem;
        padding-bottom: 5.2rem;
        max-width: 61.8rem;
        grid-column: 10/17;
        grid-row: 1/2;
        @include md {
            @include text(h1);
            grid-column: 8/13;
            margin-left: -1.6rem;
            max-width: 30rem;
            padding-bottom: 3.2rem;
            padding-top: 5.6rem;
        }
        @include sm {
            grid-column: 1/-1;
            grid-row: 1/2;
            margin-left: 0;
            padding-top: 0;
            padding-bottom: 4rem;
            width: 100%;
            max-width: 29rem;
        }
    }
    &-main {
        padding-bottom: 2.5rem;
        grid-column: 10/17;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include md {
            grid-column: 8/13;
            padding-bottom: 2.4rem;
            margin-left: -1.6rem;
        }
        @include sm {
            grid-column: 1/-1;
            grid-row: 3/4;
            margin-left: 0;
            flex-direction: row;
            padding-bottom: 3.2rem;
            
        }
        &-list {
            @include sm {
                height: 100%;
                overflow: visible !important;
                display: flex;
                
            }
        }
        &-item {
            position: relative;
            padding-block: 5.2rem;
            > * {
                @include transition(opacity 400ms ease);
            }
            @include md {
                padding-block: 3.2rem;
            }
            @include sm {
                --width-slide: calc(100% - 4.3rem);
                padding-block: 0;
                min-width: var(--width-slide) !important;
                max-width: var(--width-slide) !important;
                opacity: .5;
                transition: opacity 400ms ease;
                &.active {
                    opacity: 1;
                }
            }
            .line {
                position: absolute;
                top: 0;
                left: 0;
                @include sm {
                    display: none;
                }
            }
            &-head {
                display: flex;
                align-items: start;
                justify-content: space-between;
                margin-bottom: 5.2rem;
                @include md {
                    margin-bottom: 2rem;
                }
            }
            &-title {
                max-width: 45.7rem;
                @include md {
                    @include text(h5);
                    max-width: 28rem;
                }
            }
            &-ic {
                margin-top: 1rem;
                @include md {
                    margin-top: .5rem;
                    width: 1.6rem;
                    height: 1.6rem;
                }
            }
            &-sub {
                @include md {
                    @include text(14);
                }
            }
        }
        @media (hover:hover) {
            :hover {
                .home-brand-main-item:not(:hover) {
                    > *:not(.line) {
                        opacity: .5;
                    }
                }
            }
        }
    }
}