@use '@styles/colors' as *;
@use '@styles/mixins' as *;


.kustomer-premble {
    --offset-top: 20vh;
    background: var(--bg-txt) repeat;
    background-color: var(--cl-bg);
    margin-top: calc(var(--offset-top) * -1);
    padding-top: calc(var(--offset-top) + 7rem);

    &-title {
        grid-column: 3/15;
        text-align: center;
        max-width: 104.3rem;
        margin: auto;
    }
}