@use '@styles/mixins' as *;

.kustomer-premble {
    &-badge-wrap {
        display: flex;
        justify-content: center;
        pointer-events: none;
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    &-badge {
        will-change: transform;
        display: grid;
        overflow: hidden;
        pointer-events: auto;
        align-items: center;
        justify-items: center;
        @include size(25rem);

        >* {
            grid-area: 1/1/2/2;
        }

        &-inside {
            @include size(18.6rem);
            border-radius: 50%;
            overflow: hidden;

            @include md {
                @include size(13rem);
            }

            @include sm {
                @include size(12rem);
            }
        }

        @keyframes rot {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(-360deg);
            }
        }

        &-outside {
            animation: rot 20s linear infinite;
        }
    }
}