@use '@styles/colors' as *;
@use '@styles/mixins' as *;


.kustomer-premble {
    --offset-top: 20rem;
    margin-top: calc(var(--offset-top) * -1);
    padding-top: calc(var(--offset-top) + 7rem);

    @include md {
        --offset-top: 16rem;
    }
    @include sm {
        --offset-top: 10rem;
        // padding-top: calc(var(--offset-top));
    }

    &-title {
        grid-column: 3/15;
        text-align: center;
        max-width: 104.3rem;
        margin: auto;
        color: var(--cl-txt-light);

        @include md {
            grid-column: 3/11;
            @include text(h5);
            margin-left: calc(var(--grid-gap) * -1);
            margin-right: calc(var(--grid-gap) * -1);
        }

        @include sm {
            margin: 0;
            grid-column: 1/-1;
        }
        @include xs {
            max-width: 31rem;
            margin: 0 auto;
        }
    }

    .video-badge {
        &-wrap {
            display: flex;
            position: relative;
            height: auto;
            justify-content: center;
            inset: auto;
            transform: translateY(50%);

            @include md {
                margin-top: -1.8rem;
            }

            @include sm {
                margin-top: -1.25rem;
            }
        }

        margin-bottom: 0;
        margin-right: 0;
    }
}