---
const title = Astro.props.title;

import { Image } from "astro:assets";
import KustomerPremble from "./Premble";
import PrembleBadge from "./PrembleBadge";
import icBadgeInside from "@assets/badge-inside.png";
import icBadgeOuside from "@assets/badge-outside.svg";

let newHtml = "";
title.forEach((el, elIdx) => {
    let bodyText = el.text;
    let subString = [];
    el.spans.forEach((hl, idx) => {
        subString[idx] = bodyText.substring(hl.start, hl.end);
    });
    subString.forEach((el, idx) => {
        bodyText = bodyText.replace(el, `<span class="txt-green">${el}</span>`);
    });
    newHtml += bodyText;
});
---

<KustomerPremble>
    <Fragment set:html={newHtml} slot="title" />
</KustomerPremble>
<PrembleBadge>
    <Image src={icBadgeInside} alt="" class="img" slot="icBadgeInside" />
    <Image src={icBadgeOuside} alt="" class="img" slot="icBadgeOutside" />
</PrembleBadge>
