@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.kustomer-award {
    --padding-side: 5rem;

    position: relative;
    background: var(--bg-txt) repeat;
    background-color: var(--cl-bg);
    background-size: 40rem auto;
    z-index: 3;
    padding-top: 33rem;
    padding-bottom: 18rem;

    @include md {
        padding-top: 10rem;
        padding-bottom: 7.7rem;

    }

    &-product {
        grid-column: 1/9;
        padding-inline: var(--padding-side);
        display: grid;
        justify-content: center;

        @include md {
            grid-column: 1/6;
            padding: 0;
            height: fit-content;
        }

        &-inner {
            grid-column: 1/2;
            grid-row: 1/2;
            aspect-ratio: 1;
            background-color: var(--cl-bg-dark);
            border-radius: 100vmax;
        }

        &-img {
            position: relative;
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: start;
            padding: 3.6rem;
            z-index: 3;

            @include md {
                padding: 1.5rem;
            }

            &-three {
                position: absolute;
                @include size(100%)
            }
        }

        &-qr {
            grid-column: 1/2;
            grid-row: 2/3;
            align-self: end;
            justify-self: end;

            &-wrap {
                margin-top: -50%;
                @include size(10rem);
                border: .2rem solid var(--cl-txt);
                padding: .7rem;
                display: flex;
                align-items: center;
                justify-content: center;

                @include md {
                    margin-top: 0;
                    @include size(5.8rem);
                    margin-right: calc(var(--grid-gap)* -1);
                }
            }
        }
    }

    &-content {
        position: relative;
        grid-column: 9/-1;
        padding-inline: var(--padding-side);
        display: flex;
        flex-direction: column;

        @include md {
            grid-column: 7/-1;
            margin-top: 5.1rem;
            padding: 0;
            margin-left: calc(var(--grid-gap)* -1);
        }

        &-img {
            position: absolute;
            width: 12rem;
            transform: translateY(calc(-100% - 2rem));

            @include md {
                width: 6.4rem;
            }
        }

        &-label {
            @include md {
                @include text(h5);
                margin-right: -.5rem;
            }
        }

        &-title {
            margin-top: 2rem;
            margin-bottom: 6rem;

            @include md {
                @include text(h1);
            }
        }

        &-des {
            display: flex;
            flex-direction: column;
            row-gap: 3.2rem;
            margin-bottom: 5.2rem;

            @include md {
                @include text(16);
            }
        }

        &-link {
            &-inner {
                display: flex;
                column-gap: .8rem;
                align-items: center;
                transition: color .4s ease;

                svg {
                    @include size(1.6rem);
                }

                @media (hover: hover) {
                    &:hover {
                        color: var(--cl-orange);
                    }
                }
            }
        }

        &-btn {
            display: inline-flex;
            margin-top: 5.2rem;

            &-inner {
                padding: 2.4rem 4rem;
            }
        }
    }
}