@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.kustomer-award {
    --padding-side: 5rem;

    position: relative;
    background: var(--bg-txt) repeat;
    background-color: var(--cl-bg);
    background-size: 40rem auto;
    z-index: 3;
    padding-top: 33rem;
    padding-bottom: 18rem;

    @include md {
        padding-top: 10rem;
        padding-bottom: 8rem;
    }

    @include sm {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    &-product {
        grid-column: 1/9;
        grid-row: 1/3;
        justify-self: center;
        @include size(69.2rem);
        position: relative;

        @include md {
            grid-column: 1/6;
            @include size(30.5rem);
        }
        @include sm {
            grid-column: 1/-1;
            grid-row: 2/3;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            contain: paint;
        }

        &-img {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;
            @include size(100%);
            @include sm {
                // position: absolute;
                // inset: 7%;
                // padding-top: 100%;
                padding: 0 7%;
            }
            &:before {
                content: '';
                position: absolute;
                @include size(100%);
                top: 0;
                left: 0;
                background-color: var(--cl-bg-dark);
                border-radius: 50%;
                z-index: 1;
                @include sm {
                    position: relative;
                    padding-top: 100%;
                }
            }
            &-three {
                z-index: 3;
                position: relative;
                @include size(150%);
                @include md {
                    @include size(170%);
                }
                @include sm {
                    position: absolute;
                    @include size(120%);
                }
            }
        }

        &-qr {
            position: absolute;
            bottom: -7.94%;
            right: 0;
            z-index: 3;
            @include md {
                bottom: 0;
                transform: translateY(100%);
            }
            @include sm {
                position: relative;
                align-self: center;
                justify-self: center;
                position: relative;
                transform: none;
                margin: 4rem 0;
            }

            &-wrap {
                margin-top: -50%;
                @include size(10rem);
                border: .2rem solid var(--cl-txt);
                padding: .7rem;
                display: flex;
                align-items: center;
                justify-content: center;

                @include md {
                    margin-top: 0;
                    @include size(5.8rem);
                    margin-right: calc(var(--grid-gap)* -1);
                }

                @include sm {
                    @include size(12.5vw);
                    margin: unset;
                }
            }
        }
    }

    &-head {
        grid-column: 9/-1;
        padding-inline: var(--padding-side);
        display: flex;
        flex-direction: column;
        height: fit-content;

        @include md {
            grid-column: 7/-1;
            margin-top: 5.1rem;
            padding: 0;
            margin-left: calc(var(--grid-gap)* -1);
        }

        @include sm {
            grid-column: 1/-1;
            margin-left: unset;
            margin-top: unset;
            text-align: center;
        }

        &-img {
            position: absolute;
            width: 12rem;
            transform: translateY(calc(-100% - 2rem));

            @include md {
                width: 6.4rem;
            }

            @include sm {
                display: none
            }
        }

        &-label {
            @include md {
                @include text(h5);
                margin-right: -1rem;
            }
        }

        &-title {
            margin-top: 2rem;
            margin-bottom: 6rem;

            @include md {
                @include text(h1);
            }

            @include sm {
                margin-top: 1.2rem;
                margin-bottom: 4rem;
            }
        }
    }

    &-content {
        position: relative;
        grid-column: 9/-1;
        padding-inline: var(--padding-side);
        display: flex;
        flex-direction: column;
        height: fit-content;

        @include md {
            grid-column: 7/-1;
            padding: 0;
            margin-left: calc(var(--grid-gap)* -1);
        }

        @include sm {
            grid-column: 1/-1;
            margin-left: unset;
            order: 3;
        }

        &-des {
            display: flex;
            flex-direction: column;
            row-gap: 3.2rem;
            margin-bottom: 5.2rem;

            @include md {
                @include text(16);
            }

            @include sm {
                margin-bottom: 2.8rem;
            }
        }

        &-link {
            &-inner {
                display: flex;
                column-gap: .8rem;
                align-items: center;
                transition: color .4s ease;

                svg {
                    @include size(1.6rem);
                }

                @include sm {
                    @include text(18);
                }

                @media (hover: hover) {
                    &:hover {
                        color: var(--cl-orange);
                    }
                }
            }
        }

        &-btn {
            display: inline-flex;
            margin-top: 5.2rem;

            &-inner {
                padding: 2.4rem 4rem;
            }
        }
    }
}