@use '@styles/mixins' as *;
@use '@styles/colors' as *;

.complian-ser {
    padding-top: 17.6rem;


    &-title {
        grid-column: 2/16;
        text-align: center;
        max-width: 124.2rem;
        margin-left: auto;
        margin-right: auto;
    }

    &-sub {
        grid-column: 5/13;
        text-align: center;
        max-width: 77.6rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10rem;
    }
}