@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.contact-form {
    position: relative;
    z-index: 5;
    &-line {
        grid-column: 1/-1;
        grid-row: 1/1;
    }
    &-ic-wrapper {
        position: relative;
        grid-column: 1/7;
        grid-row: 1/1;
        display: grid;
        justify-content: center;
        align-items: center;
        @include md {
            justify-content: start;
            align-items: start;
            padding-left: .7rem;
            padding-bottom: 4.7rem;
            padding-top: 4.7rem;
        }
    }
    &-ic {
        grid-column: 1/1;
        grid-row: 1/1;
        position: sticky;
        top: 50%;
        width: 40rem;
        opacity: 0;
        z-index: 1;
        transform: translateY(-50%) scale(0.8);
        transform-origin: center;
        transition: opacity 0.4s ease-in-out, transform 1.333s linear(
            0, 0.009, 0.035 2.1%, 0.141 4.4%, 0.723 12.9%, 0.938, 1.077 20.4%, 1.121,
            1.149 24.3%, 1.163 27%, 1.154 29.9%, 1.017 43.1%, 0.991, 0.977 51%,
            0.975 57.1%, 1.003 76.9%, 1
        );
        @include md {
            top: calc((100vh - 20rem) / 2);
            transform: none;
        }

        &.active {
            opacity: 1;
            z-index: 2;
            transform: translateY(-50%) scale(1);
            @include md {
                transform: none;
            }
        }
    }
    &-main {
        position: relative;
        --offset-top: 5.8rem;
        --offset-left: 8rem;
        --offset-bot: 3rem;
        grid-column: 7/-1;
        grid-row: 1/1;
        &.disable {
            pointer-events: none;
        }

        & > .line-ver {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            z-index: 5;
        }

    }
    &-head {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding: {
            top: 3rem;
            left: var(--offset-left);
            bottom: 3rem;
            right: 0;
        };
        @include sm {
            padding-block: 2.35rem;
        }
        &-wrap {
            grid-area: 1/1/2/2;
            transition: transform 0.4s ease, opacity 0.6s ease-in-out;
            &:first-child {
                opacity: 1;
                pointer-events: auto;
            }
            &:nth-child(2) {
                opacity: 0;
                pointer-events: auto;
            }
        }
        &.submitted {
            .contact-form-head-wrap:first-child {
                opacity: 0;
                pointer-events: none;
            }
            .contact-form-head-wrap:nth-child(2) {
                opacity: 1;
                pointer-events: auto;
            }
        }

        &-title {
            margin-bottom: .4rem;
        }
        &-subtitle {
        }
        &-title-succ {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            pointer-events: none;
        }
        .line {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &.success {
            .contact-form-quote-title, .contact-form-quote-subtitle{
                opacity: 0;
                pointer-events: none;
            }
            .contact-form-quote-title-succ {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
    &-inside {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &-field {
        &-select {
            label, .line {
                z-index: 3;
            }
        }
        .line-ver {
            display: none;
        }
        &:first-child {
            .line-ver {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                
            }
        }
        &:not(:nth-child(-n+2)) {
            grid-column: span 2;
        }
    }
    &-submit {
        padding: {
            top: calc(var(--offset-top) - (var(--offset-top) - 3rem)/2);
            left: var(--offset-left);
            bottom: calc(3rem + (var(--offset-top) - 3rem)/2);
            right: 0;
        };
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-column: span 2;
        @include sm {
            padding-block: 2.35rem;
        }
        img {
            width: 3.2rem;
        }
        transition: color 400ms ease;
        &:hover {
            color: var(--cl-orange);
        }

    }
    &-success {
        contain: paint;
        &-body {
            padding: {
                top: 8rem;
                left: var(--offset-left);
                bottom: 24.4rem;
                right: 0;
            };
            &-regard {
                margin-top: 6rem;
                @include sm {
                    margin-top: 4rem;
                }
            }
        }
        &-btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: {
                top: 4.4rem;
                left: var(--offset-left);
                bottom: 4.3rem;
            };
            @include transition(color .4s ease);
            @include sm {
                padding-block: 2.35rem;
                @include text(h4);
            }
            img {
                width: 3.2rem;
                @include sm {
                    width: 2.4rem;
                }
            }

            .line {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

@media (hover: hover) {
    .contact-form-success-btn:hover {
        color: var(--cl-orange);
    }
}


@include md {
    .contact-form {
        .container.grid {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 0;
        }
        &-ic-wrapper {
            grid-column: 1/2;
        }
        &-ic {
            width: 20rem;
        }
        &-main {
            grid-column: 2/-1;
        }
        &-head-subtitle {
            @include text(16);
        }
        &-main {
            --offset-top: 4.3rem;
            --offset-left: 3.2rem;
        }
        &-success-body {
            padding-top: var(--offset-left);
            padding-bottom: 3rem;
        }
    }
}

@include sm {
    .contact-form {
        &-ic-wrapper {
            display: none;
        }
        &-field {
            grid-column: 1/-1;
            &:first-child {
                &:after {
                    content: none;
                }
            }
        }
        &-head-title {
            @include text(h4);
        }
        &-main {
            grid-column: 1/-1;
            --offset-left: 0;

            .line-ver {
                display: none;
            }
        }
        &-submit {
            span {
                @include text(h4);
            }
        }
        &-success-body {
            padding-block: 2rem;
        }
    }
}