@use '@styles/mixins' as *;
.kareer-cta {
    padding-top: 17rem;
    padding-bottom: 18.8rem;
    @include md {
        padding: 8.7rem 0;
    }
    @include sm {
        padding: 6rem 0;
    }
    &-title {
        grid-column: 1/10;
        max-width: 90rem;
        @include md {
            grid-column: 1/11;
            max-width: 57rem;
        }
        @include sm {
            @include text(h1);
            grid-column: 1/-1;
            margin-bottom: 4rem;
        }
    }
    &-sub-wrap {
        grid-column: 11/17;
        display: flex;
        flex-direction: column;
        justify-content: end;
        @include md {
            grid-column: 6/13;
        }
        @include sm {
            grid-column: 1/-1;
        }
    }
    &-sub {
        margin-bottom: 5.2rem;
        @include md {
            margin-bottom: 4rem;
            @include text(16);
        }
    }
}