// Global
@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('../fonts/HelveticaNowDisplay.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('../fonts/HelveticaNowDisplayMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('../fonts/HelveticaNowDisplayBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('../fonts/HelveticaNowDisplayBlack.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}
:root {
    // font-size: 0.6944444444vw;
    font-size: calc(0.5787037037vw * .9);
    @media only screen and (min-width: 991px) {
        @media screen and (min-aspect-ratio: 1600 / 800) {
            font-size: 1.1vh;
        }
    }
    // @media only screen and (min-width: 1728px) {
    //     font-size: 10px;
    // }
    @media only screen and (max-width: 991px) {
        font-size: 1.1990407674vw;
    }
    @media only screen and (max-width: 767px) {
        font-size: 1.8vw;
    }
    @media only screen and (max-width: 476px) {
        font-size: 2.667vw;
    }
}
html {
    font-family: 'Inter Variable', sans-serif;
    color: var(--cl-txt);
}

// Heading
:root {
    --h0-fs: 11rem;
    --h0-lh: 1em;
    
    --h1-fs: 7rem;
    --h1-lh: .96em;

    --h2-fs: 6.2rem;
    --h2-lh: 1.2em;

    --h3-fs: 5.2rem;
    --h3-lh: 1em;

    --h4-fs: 4rem;
    --h4-lh: 1em;

    --h5-fs: 3.2em;
    --h5-lh: 1em;

    --h6-fs: 2rem;
    --h6-lh: 1.2em;
}
.heading {
    font-family: 'HelveticaNowDisplay', sans-serif;
}
@for $i from 0 through 6 {
    h#{$i}, .h#{$i} {
        font-size: var(--h#{$i}-fs);
        line-height: var(--h#{$i}-lh);
    }
}

// Body text
$txtSizes: 10, 14, 16, 18, 20;
:root {
    --fs-10: 1rem;
    --lh-10: 1.2em;

    --fs-14: 1.4rem;
    --lh-14: 1.2em;

    --fs-16: 1.6rem;
    --lh-16: 1.3em;

    --fs-18: 1.8rem;
    --lh-18: 1.2em;

    --fs-20: 2rem;
    --lh-20: 1.4em;
}

.txt {
    &-reg {
        font-weight: 400 !important;
    }
    &-med {
        font-weight: 500;
    }
    &-semi {
        font-weight: 600;
    }
    &-bold {
        font-weight: 700;
    }
    &-black {
        font-weight: 900;
    }
    &-up {
        text-transform: uppercase;
    }
    &-green {
        color: var(--cl-green);   
    }
    &-orange {
        color: var(--cl-orange);
    }
    @each $size in $txtSizes {
        &-#{$size} {
            font-size: var(--fs-#{$size});
            line-height: var(--lh-#{$size});
        }
    }
}

//Icon
.ic {
    display: flex;
    align-items: center;
    justify-content: center;
    &-20 {
        @include size(2rem);
    }
    &-32 {
        @include size(3.2rem);
    }
    &-36 {
        @include size(3.6rem);
    }
    &-40 {
        @include size(4rem);
    }
    &-80 {
        @include size(8rem);
    }
    &-100 {
        @include size(10rem);
    }
}

//Button
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2.4rem;
    background-color: var(--cl-orange);
    color: var(--cl-white);
}