@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.case-main {
    position: relative;
    z-index: 6; //Higher than footer
    .case {
        &-list {
            .container {
                mix-blend-mode: multiply;
            }
            &-inner {
                padding-bottom: 12rem;
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                &.layout-list {
                    display: flex;
                    flex-direction: column;

                    .case-list-item {
                        display: grid;
                        grid-template-columns: repeat(16, 1fr);
                        column-gap: 2rem;
                        position: relative;
                        &-inner {
                            grid-column: span 13;
                            display: grid;
                            margin-top: 0;
                            @media (hover: hover) {
                                &:hover {
                                    .case-list-item-img {
                                        opacity: 1;
                                        transform: translate(-50%, -50%) scale(1.98) rotate(20deg);
                                    }
                                }
                            }
                        }
                        &:nth-child(odd) {
                            padding-right: 0rem;
                        }

                        &:nth-child(even) {
                            padding-left: 0rem;
                        }

                        .line-ver {
                            display: none;
                        }

                        .line-bot {
                            grid-column: span 16;
                        }

                        &-label {
                            grid-column: span 3;
                            justify-self: start;
                        }

                        &-title {
                            margin-left: -2rem;
                            max-width: none;
                            margin-top: 0;
                            margin-bottom: 6rem;
                        }

                        &-bot {
                            position: absolute;
                            inset: 0;
                            pointer-events: none;
                        }

                        &-img {
                            position: absolute;
                            left: 75%;
                            top: 50%;
                            opacity: 0;
                            transform: translate(-50%, -50%) scale(1) rotate(10deg);
                            transform-origin: center center;
                            will-change: transform;
                        }

                        &-link {
                            display: none;
                        }
                        
                    }
                }
            }

            &-item {
                display: flex;
                flex-direction: column;
                align-items: start;
                padding-top: 6rem;
                position: relative;

                &:nth-child(odd) {
                    padding-right: 5rem;
                    .line-ver {
                        display: none;
                    }
                }

                &:nth-child(even) {
                    padding-left: 5rem;
                }

                &-title {
                    margin-bottom: 5.3rem;
                    max-width: 75.4rem;
                    min-height: calc(3 * var(--lh-h3));
                    font-kerning: none;
                }

                &-bot {
                    margin-top: auto;
                    width: 100%;
                    display: flex;
                    align-items: end;
                    justify-content: space-between;
                    padding-bottom: 6rem;
                }

                &-img {
                    height: 18.8rem;
                    transition: all 600ms ease;
                    transform-origin: left bottom;
                    mix-blend-mode: multiply;

                    &-inner {
                        width: 100%;
                        height: 100%;
                    }
                }

                &-link {
                    display: flex;
                    align-items: center;
                    column-gap: .8rem;
                    overflow: hidden;
                }
                &-inner {
                    width: 100%;
                    margin-top: 3.2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    transition: color 400ms ease;
                    @media (hover: hover) {
                        &:hover {
                            color: var(--cl-orange);
                            .case-list-item-img {
                                transform: scale(1.98);
                            }
                        }
                    }
                }

                .line:not(.line-ver, .line-top) {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                .line-ver {
                    height: calc(100% + .2rem);
                    position: absolute;
                    top: -.2rem;
                    left: -.1rem;
                }

                .line-top {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            &-load {
                margin-bottom: 12rem;
                display: flex;
                justify-content: center;

                &.hidden {
                    display: none;
                }

                &-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: solid .2rem var(--cl-txt);
                    transition: all 400ms ease;

                    &-ic {
                        width: 6.2rem;
                        height: 6rem;
                        border-right: solid .2rem currentColor;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .ic {
                            contain: paint;
                        }
                    }

                    &-txt {
                        padding: 1.6rem 1.8rem;
                    }

                    &:hover {
                        border-color: var(--cl-orange);
                        color: var(--cl-orange);
                    }
                }
            }
        }
    }
}


@include md {
    .case-main {
        .case {
            &-list {
                &-inner {
                    padding-bottom: 6rem;
                }

                &-load {
                    margin-bottom: 8rem;
                }

                &-item {
                    padding-top: 2.4rem;
                    &-inner {
                        margin-top: 1.2rem;
                    }
                    &-label {
                        @include text(16);
                    }

                    &-title {
                        margin-bottom: 2.7rem;
                        @include text(h4);
                        min-height: calc(4* var(--lh-h4));
                    }

                    &-bot {
                        padding-bottom: 2.4rem;
                    }

                    &-link {
                        &-txt {
                            @include text(16);
                        }
                    }

                    &-img {
                        height: 8.8rem;
                    }

                    &:nth-child(odd) {
                        padding-right: 2.4rem;
                    }

                    &:nth-child(even) {
                        padding-left: 2.4rem;
                    }
                }

                &-load {
                    &-btn {
                        &-ic {
                            @include size(5.2rem, 5rem);

                            .ic {
                                @include size(1.6rem);
                            }
                        }

                        &-txt {
                            padding: 1rem 1.6rem;
                            @include text(16);
                        }
                    }
                }

                &-inner {
                    &.layout-list {
                        & .case {
                            &-list {
                                &-item {
                                    grid-template-columns: repeat(12, 1fr);

                                    padding: {
                                        top: 3.2rem;
                                    };

                                    &-label {
                                        grid-column: 1/3;
                                    }
                                    &-inner {
                                        margin-top: 1.2rem;
                                    }
                                    &-title {
                                        grid-column: 4/-1;
                                        margin-left: 0;
                                        margin-bottom: 3.2rem;
                                        min-height: auto;
                                    }

                                    &-bot {
                                        display: none;
                                    }

                                    .line-bot {
                                        grid-column: 1/-1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@include sm {
    .case-main {
        .case {
            &-list {
                &-inner {
                    grid-template-columns: 1fr;
                    padding-bottom: 4rem;

                    &.all-loaded {
                        .case-list-item:last-child {
                            .line {
                                display: none;
                            }
                        }

                        padding-bottom: 0;
                    }
                }

                &-load {
                    margin-bottom: 4rem;
                }

                &-item {
                    &-label {
                        @include text(14);
                    }

                    &-title {
                        @include text(h5);
                        min-height: calc(3* var(--lh-h5));
                    }

                    &-img {
                        height: 8.8rem;
                    }

                    .line-ver {
                        display: none;
                    }

                    &:nth-child(odd) {
                        padding-right: 0;
                    }

                    &:nth-child(even) {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}