@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.home-val {
    background-color: var(--cl-bg-dark);
    color: var(--cl-txt-light);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: calc((53vw * 3) + var(--offsetMargin));
    margin-bottom: calc(var(--offsetMargin) * -1);
    z-index: 3;
    @include md {
        height: calc(400vh + var(--offsetMargin));
    }
    &-arr{
        display: flex;
        align-items: end;
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 2;
        &-inner {
            width: 100%;
            margin-bottom: -18%;
            svg {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: auto;
            }
        }
    }
    &-stick {
        position: sticky;
        bottom: 0;
    }
    &-title-wrap {
        padding-top: 32rem;
        padding-bottom: 21.5rem;
        width: 100%;
        max-width: 122.8rem;
        margin: 0 auto;
        text-align: center;
        @include md {
            padding-top: 12rem;
            padding-bottom: 14rem;
        }
        @include sm {
            padding-top: 8rem;
            padding-bottom: 6rem;
            br {
                display: none
            }
        }
        .txt-180 {
            @include md {
                @include text(h0);
            }
            @include sm {
                @include text(h2);
            }
        }
    }
    &-title {
        @include sm {
            @include text(h2);
        }
    }
    &-label {
        margin-bottom: 3.2rem;
    }
    &-main {
        overflow: hidden;
        .container {
            padding-top: .2rem;
        }
        &-wrap {
            display: flex;
            flex-wrap: nowrap;
            position: relative;
        }
        &-inner {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            @include sm {
                flex-wrap: initial;
                flex-direction: column;
            }
        }
        .line-top {
            position: absolute;
            top: -.2rem;
            left: 0;
            background-color: var(--cl-txt);
        }
        &-item {
            flex: none;
            padding-top: 5.7rem;
            padding-bottom: 10rem;
            padding-right: 8rem;
            padding-left: 16.5rem;
            position: relative;
            width: calc(48vw + 16.5rem + 8rem);
            will-change: transform;
            @include md {
                padding: {
                    top: 2.7rem;
                    bottom: 8rem;
                    right: 7.2rem;
                    left: 7.2rem;
                }
            }
            @include sm {
                border-top: 0.2rem solid var(--cl-txt);
                padding: 6rem 0;
                width: 100%;
            }
            &:first-child {
                padding-left: 0;
                width: calc(48vw + 8rem);
                @include sm {
                    width: 100%;
                }
            }
            &:last-child {
                width: calc(48vw + 16rem);
                padding-right: 0;
                @include sm {
                    width: 100%;
                }
            }
            &-head {
                display: flex;
                align-items: start;
                justify-content: space-between;
                margin-bottom: 3.2rem;
                @include md {
                    margin-bottom: 2.7rem;
                }
                @include md {
                    margin-bottom: 4.8rem;
                }
            }
            &-num {
                font-size: 8rem;
                line-height: 1em;
                color: rgba($cl-txt-light, .8);
                @include md {
                    @include text(h1);
                }
                @include sm {
                    @include text(h2);
                }
            }
            &-title {
                max-width: 58rem;
                margin-bottom: 4rem;
                @include md {
                    margin-bottom: 3.2rem;
                    max-width: 37rem;
                }
                @include sm {
                    @include text(h3);
                }
            }
            &-sub {
                max-width: 79.4rem;
                margin-bottom: 4rem;
                color: rgba($cl-txt-light, .6);
                @include md {
                    margin-bottom: 3.2rem;
                    @include text(16);
                }
            }
            &-link {
                @include md {
                    @include text(16);
                }
            }
            &-ic {
                .ic-150 {
                    @include md {
                        @include size(10.2rem);
                    }
                    @include sm {
                        @include size(7.7rem);
                    }
                }
            }
            .line-left {
                position: absolute;
                top: 0;
                left: 0;
                width: .2rem;
                height: 100%;
                background-color: var(--cl-txt);
                @include sm {
                    display: none;
                }
            }
        }
    }
}