@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.kustomer-val {
    background-color: var(--cl-bg-dark);
    color: var(--cl-txt-light);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: calc((53vw * 3 * 1.5) + var(--offsetMargin));
    margin-bottom: calc(var(--offsetMargin) * -1);
    padding-top: 17.6rem;
    z-index: 3;

    @include md {
        height: calc(200vh + var(--offsetMargin));
    }

    @include sm {
        height: auto;
        margin-bottom: 0;
    }

    &-stick {
        position: sticky;
        bottom: 0;
    }

    &-title-wrap {
        display: grid;
        margin-bottom: 18rem;
        grid-template-columns: repeat(12, 1fr);
    }

    &-title {
        grid-column: 1/9;

        span {
            display: inline;
        }

        @include md {
            @include text(h1)
        }

        @include sm {
            @include text(h5);
        }
    }

    &-subtitle {
        grid-column: 9/-1;
        align-self: end;
    }

    &-label {
        margin-bottom: 3.2rem;
    }

    &-main {
        overflow: hidden;

        .container {
            padding-top: .2rem;
        }

        &-wrap {
            display: flex;
            flex-wrap: nowrap;
            position: relative;
        }

        &-inner {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;

            @include sm {
                flex-wrap: initial;
                flex-direction: column;
            }
        }

        .line-top {
            position: absolute;
            top: -.2rem;
            left: 0;
            background-color: var(--cl-txt);
            width: 100%;
        }

        &-item {
            flex: none;
            padding-top: 5.7rem;
            padding-bottom: 10rem;
            padding-right: 8rem;
            padding-left: 16.5rem;
            position: relative;
            width: calc(48vw + 16.5rem + 8rem);
            will-change: transform;

            @include md {
                padding: {
                    top: 2.7rem;
                    bottom: 8rem;
                    right: 7.2rem;
                    left: 7.2rem;
                }
            }

            @include sm {
                border-top: 0.2rem solid var(--cl-txt);
                padding: 6rem 0;
                width: 100%;
            }

            &:first-child {
                padding-left: 0;
                width: calc(48vw + 8rem);

                @include sm {
                    width: 100%;
                }
            }

            &:last-child {
                width: calc(48vw + 16rem);
                padding-right: 0;

                @include sm {
                    width: 100%;
                }
            }

            &-head {
                display: flex;
                align-items: start;
                justify-content: space-between;
                margin-bottom: 3.2rem;

                @include md {
                    margin-bottom: 2.7rem;
                }

                @include md {
                    margin-bottom: 4.8rem;
                }
            }

            &-num {
                font-size: 8rem;
                line-height: 1em;
                color: rgba($cl-txt-light, .8);

                @include md {
                    @include text(h1);
                }

                @include sm {
                    @include text(h2);
                }
            }

            &-title {
                max-width: 79rem;
                margin-bottom: 4rem;

                @include md {
                    margin-bottom: 3.2rem;
                    max-width: 37rem;
                }

                @include sm {
                    @include text(h3);
                }
            }

            &-sub {
                max-width: 80rem;
                margin-bottom: 4rem;
                color: rgba($cl-txt-light, .6);

                @include md {
                    margin-bottom: 3.2rem;
                    @include text(16);
                }
            }

            &-link {
                @include md {
                    @include text(16);
                }
            }

            &-ic {
                .ic-150 {
                    @include md {
                        @include size(10.2rem);
                    }

                    @include sm {
                        @include size(7.7rem);
                    }
                }
            }

            .line-left {
                position: absolute;
                top: 0;
                left: 0;
                width: .2rem;
                height: 100%;
                background-color: var(--cl-txt);

                @include sm {
                    display: none;
                }
            }
        }
    }
}