@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.kustomer-val {
    background-color: var(--cl-bg-dark);
    color: var(--cl-txt-light);
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 17.6rem;
    z-index: 3;

    @include md {
        padding-top: 8rem;
    }

    @include sm {
        padding-top: 6rem;
    }

    &-title-wrap {
        display: grid;
        margin-bottom: 18rem;
        grid-template-columns: repeat(16, 1fr);
        column-gap: 2rem;

        @include md {
            grid-template-columns: repeat(12, 1fr);
            margin-bottom: 6rem;
        }

        @include sm {
            display: flex;
            flex-direction: column;
        }
    }

    &-title {
        grid-column: 1/10;

        span {
            display: inline;
        }

        @include md {
            grid-column: 1/11;
            margin-bottom: 2rem;
            @include text(h1);
        }

        @include sm {
            grid-column: 1/-1;
            @include text(h2);
        }
    }

    &-subtitle {
        grid-column: 12/-1;
        align-self: end;
        opacity: .6;

        @include md {
            grid-column: 1/9;
            margin-right: 2rem;
            font-weight: 700;
            text-transform: none;
        }

        @include sm {
            grid-column: 1/-1;
            font-weight: 500;
            margin-right: unset;
            width: 100%;
        }
    }

    &-main {
        overflow: hidden;

        .container {
            padding-top: .2rem;
        }

        &-wrap {
            display: flex;
            flex-wrap: nowrap;
            position: relative;
        }

        &-inner {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;

            @include sm {
                flex-direction: column;
                padding-bottom: 2rem;
            }
        }

        .line-top {
            position: absolute;
            top: -.2rem;
            left: 0;
            background-color: var(--cl-txt);
            width: 100%;

            @include sm {
                display: none;
            }
        }

        &-item {
            flex: none;
            padding-top: 5.7rem;
            padding-bottom: 10rem;
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            will-change: transform;

            @include md {
                padding-top: 4.8rem;
                padding-bottom: 6rem;
                border-top: .2rem solid var(--cl-txt);
            }

            @include sm {
                width: 100%;
                padding-top: 4rem;
                padding-bottom: 4rem;
                padding-right: unset !important;
                padding-left: unset !important;
            }

            &:first-child {
                padding-right: 7.4rem;

                @include md {
                    padding-right: 3.6rem;
                }
            }

            &:last-child {
                padding-left: var(--container-padding);
            }

            &-head {
                position: relative;
                display: flex;
                align-items: start;
                justify-content: space-between;
                margin-bottom: 3.2rem;

                @include md {
                    margin-bottom: 1.2rem;
                }

                @include sm {
                    flex-direction: column;
                }
            }

            &-body {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: start;
            }

            &-label {
                color: rgba($cl-txt-light, .8);

                @include md {
                    @include text(h6);
                }

                @include sm {
                    order: 1;
                }
            }

            &-title {
                max-width: 66rem;
                margin-bottom: 4rem;

                @include md {
                    margin-bottom: 2rem;
                    max-width: 26.1rem;
                    @include text(h4);
                }

                @include sm {
                    @include text(h3);
                    margin-bottom: 3.2rem;
                }
            }

            &-sub {
                max-width: 80rem;
                margin-bottom: 4rem;
                color: rgba($cl-txt-light, .6);

                @include md {
                    margin-bottom: 2.8rem;
                    @include text(16);
                }

                @include sm {
                    margin-bottom: 3.2rem;
                }
            }

            &-link {
                display: flex;
                align-items: center;
                column-gap: .8rem;

                @include md {
                    @include text(16);
                }

                svg {
                    @include size(1.6rem)
                }
            }

            &-ic {
                position: absolute;
                top: 0;
                right: 0;

                .ic-120 {
                    @include md {
                        @include size(8rem);
                    }
                }

                @include sm {
                    position: relative;
                    order: 0;
                    margin-bottom: 6rem;
                }
            }

            .line-left {
                position: absolute;
                top: 0;
                left: 0;
                width: .2rem;
                height: 100%;
                background-color: var(--cl-txt);

                @include sm {
                    display: none;
                }
            }
        }
    }
}