@use '@styles/colors' as *;
@use '@styles/mixins' as *;


.kustomer-explore {

    &-title {
        grid-column: 3/15;
        text-align: center;
        max-width: 100rem;
        margin: auto;
        margin-bottom: 10rem;
    }

    &-main {
        grid-column: 1/-1;
        grid-row: 2/3;

        &-item {
            --fr-width: 4rem;

            position: relative;
            display: grid;
            grid-template-columns: repeat(var(--grid-column), 1fr);
            column-gap: var(--grid-gap);


            &:last-child {
                .kustomer-explore-main-item-main {
                    padding-bottom: 7.2rem;
                }

                .kustomer-explore-main-item-list {
                    padding-bottom: 2rem;
                }
            }

            &-line {
                position: absolute;
                top: 0;
                left: 0;
            }

            &-main {
                grid-column: 1/11;
                margin-right: calc(var(--fr-width) * -1 - var(--grid-gap));
                padding-right: calc(var(--fr-width) + var(--grid-gap));
                padding-top: 6rem;
                padding-bottom: 5.2rem;
                display: flex;
                flex-direction: column;
                transition: color .4s ease;
                background-color: var(--cl-bg);

                &-label {
                    margin-bottom: 3.2rem;
                }

                &-title {
                    max-width: 81.2rem;
                }

                &-img {
                    @include size(28.9rem, 40.1rem);
                    align-self: end;
                    margin-top: auto;
                    transform-origin: right bottom;
                    transition: transform 600ms ease;
                    mix-blend-mode: multiply;
                }

                @media (hover: hover) {
                    &:hover {
                        color: var(--cl-orange);

                        .kustomer-explore-main-item-main-img {
                            transform: scale(1.4);
                        }
                    }
                }
            }

            &-list {
                position: relative;
                grid-column: 11/-1;
                margin-left: var(--fr-width);
                padding-left: calc(var(--fr-width) + var(--grid-gap));
                padding-top: 6rem;

                .line-ver {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &-inner {
                    margin-bottom: 5.2rem;

                    &-title {
                        margin-bottom: 4rem;
                        max-width: 46.8rem;
                    }

                    &-des {
                        margin-bottom: 5.2rem;
                    }

                    &:last-child {
                        .line {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}