@use '@styles/colors' as *;
@use '@styles/mixins' as *;


.kustomer-explore {
    contain: paint;

    &-title {
        grid-column: 3/15;
        text-align: center;
        max-width: 100rem;
        margin: auto;
        margin-bottom: 10rem;

        @include md {
            grid-column: 1/-1;
            @include text(h1);
            margin-bottom: 8.8rem;
        }

        @include sm {
            @include text(h3);
            text-align: left;
            margin-bottom: 6rem;
        }
    }

    &-main {
        grid-column: 1/-1;
        grid-row: 2/3;

        @include sm {
            display: flex;
            flex-direction: column;
            row-gap: 6rem;
        }

        &-item {
            --fr-width: 4rem;

            position: relative;
            display: grid;
            grid-template-columns: repeat(var(--grid-column), 1fr);
            column-gap: var(--grid-gap);

            @include sm {
                grid-template-columns: 1fr;
            }

            &:last-child {
                .kustomer-explore-main-item-list {
                    padding-bottom: 2rem;

                    @include md {
                        padding-bottom: 0;
                    }
                }
            }

            &-line {
                position: absolute;
                top: 0;
                left: 0;

                @include sm {
                    display: none;
                }
            }

            &-main {
                grid-column: 1/11;
                margin-right: calc(var(--fr-width) * -1 - var(--grid-gap));
                padding-right: calc(var(--fr-width) + var(--grid-gap));
                padding-top: 6rem;
                padding-bottom: 5.2rem;
                display: flex;
                flex-direction: column;
                transition: color .4s ease;
                background-color: var(--cl-bg);

                @include md {
                    grid-column: 1/8;
                    margin-right: 0;
                    padding-right: 3rem;
                    padding-bottom: 4rem;
                }

                @include sm {
                    grid-column: 1/-1;
                    padding-right: 0;
                    padding-top: 0;
                }

                &-label {
                    margin-bottom: 3.2rem;

                    @include md {
                        @include text(20);
                    }

                    @include sm {
                        order: 1;
                        margin-bottom: .8rem;
                    }
                }

                &-title {
                    max-width: 81.2rem;

                    @include md {
                        @include text(h3);
                        margin-bottom: 3.4rem
                    }

                    @include sm {
                        order: 1
                    }
                }

                &-img {
                    @include size(28.9rem, 40.1rem);
                    align-self: end;
                    margin-top: auto;
                    transform-origin: right bottom;
                    transition: transform 600ms ease;
                    mix-blend-mode: multiply;

                    @include md {
                        @include size(20rem, 30rem);
                    }

                    @include sm {
                        order: 0;
                        width: 100%;
                        height: unset;
                        overflow: hidden;
                        aspect-ratio: 1.8244680851;
                        margin-bottom: 3.4rem;

                        img {
                            object-fit: cover;
                        }
                    }
                }

                &-link {
                    display: none;

                    @include md {
                        display: flex;
                        align-items: center;
                        column-gap: .8rem;

                        svg {
                            @include size(1.6rem);
                        }
                    }

                    @include sm {
                        order: 1
                    }
                }

                @media (hover: hover) {
                    &:hover {
                        color: var(--cl-orange);

                        .kustomer-explore-main-item-main-img {
                            transform: scale(1.4);
                        }
                    }
                }
            }

            &-list {
                position: relative;
                display: flex;
                flex-direction: column;
                row-gap: 5.2rem;
                grid-column: 11/-1;
                margin-left: var(--fr-width);
                padding-left: calc(var(--fr-width) + var(--grid-gap));
                padding-top: 6rem;

                @include md {
                    grid-column: 8/-1;
                    margin-left: calc(var(--grid-gap) * -1);
                    padding-left: 3rem;
                    padding-top: 4rem;
                    row-gap: 4rem;
                }

                @include sm {
                    display: flex;
                    padding: 0;
                    grid-column: 1/-1;
                    margin-left: 0;
                    height: fit-content;
                    flex-direction: unset;
                }

                .line-ver {
                    position: absolute;
                    top: 0;
                    left: 0;

                    @include sm {
                        display: none;
                    }
                }

                &-inner {
                    min-height: unset !important;

                    @include sm {
                        min-height: 100% !important;
                        width: auto !important;
                        min-width: 28rem;
                        padding: 4rem 3rem;
                        border-left: .2rem solid var(--cl-txt);
                        border-bottom: .2rem solid var(--cl-txt);

                        &:nth-child(2) {
                            padding-left: 0;
                            border-left: none;
                        }
                    }



                    &-title {
                        margin-bottom: 4rem;

                        @include md {
                            margin-bottom: 1.2rem;
                        }
                    }

                    &-des {
                        margin-bottom: 5.2rem;

                        @include md {
                            @include text(16);
                        }

                        @include sm {
                            margin-bottom: 0;
                        }
                    }

                    .line {
                        @include sm {
                            position: absolute;
                            width: 100%;
                            top: 0;
                            left: 0;
                        }
                    }

                    &:last-child {
                        .line {
                            display: none;
                        }
                    }

                    @include sm {
                        &:last-child {
                            border-right: .2rem solid var(--cl-txt);

                            .line {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}