@use '@styles/mixins' as *;
.home-three {
    --btnHeight: 16.8rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    pointer-events: none;
    height: calc(100% - 28.8rem - var(--btnHeight) + ((100vh - var(--HomeProductCardHeight)) / 2));  // 100% - padding - btn + card's top
    &-wrap {
        --HomeProductCardHeight: 66.2rem;
        position: relative;
        z-index: 2;
    }
    &-stick {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        &-inner {
            width: 100%;
            height: 100%;
        }
    }
    * {
        pointer-events: none !important;
    }
}