@use '@styles/mixins' as *;
@use '@styles/colors' as *;

.header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    mix-blend-mode: difference;
    filter: invert(1);
    .container > * {
        pointer-events: auto;
    }
    &-logo {
        height: 4.8rem;
        @include md {
            height: 4rem;
        }
        @include sm {
            height: 3.2rem
        }
    }
    &-main {
        grid-column: 1/11;
        @include md {
            grid-column: span 12;
        }
        @include sm {
            grid-column: span 4;
        }
        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 2rem;
            padding-block: 1.7rem;
            position: relative;
            @include md {
                padding-block: 1.9rem;
            }
            @include sm {
                padding-block: 1.4rem;
            }
        }
    }
    &-menu {
        display: flex;
        align-items: center;
        column-gap: 1.8rem;
        @include md {
            display: none;
        }
    }
    .line {
        width: 100%;
        height: .2rem;
        background-color: var(--cl-txt);
        position: absolute;
        bottom: 0;
        left: 0;
        transform-origin: left;
    }

    &-sub {
        grid-column: 1/15;
        grid-row: 2/3;
        justify-self: start;
        display: flex;
        align-items: center;
        column-gap: .8rem;
        padding-top: 2rem;
        @include md {
            grid-column: span 12;
        }
        @include sm {
            grid-column: span 4;
        }
        &-txt {
            max-width: 28.4rem;
        }
        &-label {
            display: block;
        }
    }
    &-cta {
        grid-column: 15/17;
        grid-row: 1/4;
        justify-self: self-end;
        width: 8rem;
        display: flex;
        flex-direction: column;
        margin-right: -0.1rem;
        &-head {
            position: relative;
            z-index: 2;
        }
        &-tail {
            position: relative;
            z-index: 2;
        }
        &-body {
            position: relative;
            z-index: 3;
            margin: -1px 0;
            background-repeat: repeat-y;
            background-position: top left;
            background-size: 100% auto;
            width: 100%;
            writing-mode: vertical-rl;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.3rem 0 1.6rem;
            color: var(--cl-white);
        }

        @include md {
            display: none;
        }
    }
}