@use '@styles/colors' as *;
@use '@styles/mixins' as *;
.kareer-perk {
    background-color: var(--cl-bg-dark);
    padding-top: 16rem;
    padding-bottom: 21rem;
    @include md {
        padding: 18rem 0;
    }
    @include sm {
        padding: 10rem 0;
    }
    &-title-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: var(--cl-txt-light);
        margin-bottom: 12rem;
        @include sm {
            margin-bottom: 10rem;
        }
    }
    &-sub {
        margin-bottom: 1.2rem;
        @include sm {
            @include text(h5);
        }
    }
    &-title {
        max-width: 94rem;
        @include md {
            max-width: 75.4rem;
        }
        @include sm {
            @include text(h1);
        }
    }
    &-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        @include md {
            grid-template-columns: repeat(2, 1fr);
        }
        @include sm {
            grid-template-columns: 1fr;
        }
        & > .line {
            position: absolute;
            background-color: rgba($cl-border, .3);
            left: 0;
            &-top {
                top: 0;
            }
            &-bot {
                bottom: 0;
            }
        }
        &-item {
            position: relative;
            color: var(--cl-txt-light);
            &-inner {
                padding: 6rem;
                display: flex;
                flex-direction: column;
                align-items: start;
                @include md {
                    padding: 6rem 4.8rem;
                }
                @include sm {
                    align-items: center;
                    text-align: center;
                    padding: 6rem 3.2rem;
                }
                .ic {
                    margin-bottom: 6rem;
                    @include md {
                        margin-bottom: 4rem;
                    }
                }
            }
            &-title {
                margin-bottom: 4rem;
                @include md {
                    margin-bottom: 2.4rem;
                }
            }
            &-sub {
                @include md {
                    @include text(16);
                }
            }
            & > .line {
                background-color: rgba($cl-border, .3);
                position: absolute;
                &-right {
                    width: .2rem;
                    height: calc(100% - .2rem);
                    top: 0;
                    right: 0;
                    @include sm {
                        display: none;
                    }
                }
                &-bot {
                    bottom: 0;
                    left: 0;
                }
            }
            @include md {
                &:nth-child(2n) {
                    & > .line-right {
                        display: none;
                    }
                }
            }
            @include md-up {
                &:nth-child(n+4) {
                    & > .line-bot {
                        display: none;
                    }
                }
                &:nth-child(3n) {
                    & > .line-right {
                        display: none;
                    }
                }
            }
        }
    }
}