@use '@styles/mixins' as *;
@use '@styles/colors' as *;


.popup {
    position: fixed;
    top: 0;
    left: 0;
    @include size(100vw, 100vh);
    background: rgba(0, 0, 0, 0.90);
    display: flex;
    align-items: center;
    opacity: 1;
    z-index: 999;

    &.active {
        opacity: 1;
    }

    &-itemdtl {
        --padding-2side: 10rem;

        position: relative;
        grid-column: 2/16;
        background-color: var(--cl-bg);
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        column-gap: var(--grid-gap);
        padding: 7.9rem 0;
        max-height: calc(100vh - var(--padding-2side)*2);
        opacity: 0;

        &.active {
            opacity: 1;
        }

        &-card {
            grid-column: 2/6;
            border: .2rem solid var(--cl-txt);
            margin-left: calc(var(--grid-gap)* -1);
            align-self: center;
            height: fit-content;

            &-img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                aspect-ratio: 0.867803838;

                &-inner {
                    width: 36rem;
                }
            }

            &-bottom {
                display: flex;
                border-top: .2rem solid var(--cl-txt);
                justify-content: space-between;
            }

            &-pagi {
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: center;
                column-gap: .6rem;

                &-btn {
                    @include size(1rem);
                    background-color: var(--cl-txt);
                    border-radius: 100vmax;
                }
            }

            &-nav {
                display: flex;

                &-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-left: .2rem solid var(--cl-txt);
                    @include size(5.6rem, 5.6rem);

                    &.prev {
                        .ic svg {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }

        &-content {
            grid-column: 7/14;
            margin-left: calc(var(--grid-gap)* -1);
            margin-right: calc(var(--grid-gap)* -1);
            align-self: center;
            display: flex;
            flex-direction: column;
            height: 100%;

            &-title {
                margin-bottom: 4rem;
            }
        }

        &-table {
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 100%;

            &-head,
            &-item {
                display: grid;
                max-width: 100%;
                grid-template-columns: 13.1% 9.5% 11.6% 16% 34% 1fr;
                column-gap: 1rem;
                border-bottom: .2rem solid var(--cl-txt);
            }

            &-head {
                padding-bottom: 1.6rem;
            }

            &-item-wrap {
                flex: 1 1 auto;
                overflow-y: auto;
                height: 0px;
                min-height: 40rem;
                padding-bottom: .2rem;
                // scrollbar-width: none;
            }

            &-item {
                align-items: center;
                padding-top: .8rem;
                padding-bottom: .8rem;

                .popup-card-table-model {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &-inner {
                        @include size(4.8rem);
                    }
                }
            }
        }
    }
}