@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.kustomer-kasestu {
    padding-top: 16rem;
    padding-bottom: 16rem;

    &-label {
        margin-bottom: 2rem;
        grid-column: 1/-1;
    }

    &-title {
        grid-column: 1/10;
        max-width: 100rem;
    }

    &-des {
        grid-column: 12/-1;
        align-self: end;

        &-content {
            margin-bottom: 4rem;
        }

        &-link {
            color: var(--cl-orange);
        }
    }

    &-main {
        grid-column: 1/-1;
        margin-top: 10rem;
        margin-right: calc(var(--container-padding)* -1);

        &-wrapper {
            display: flex;
        }

        &-item {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 6rem;
            width: 75.4rem !important;
            height: 57.1rem !important;

            &-title {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                min-height: calc(3 * var(--lh-h3));
                margin-top: 3.2rem;
                transition: color .4s ease;
            }

            &-bot {
                display: flex;
                margin-top: auto;
                justify-content: space-between;
                transition: color .4s ease;


                &-img {
                    @include size(15rem, 18.8rem);
                    transform-origin: left bottom;
                    transition: transform .6s ease;
                    mix-blend-mode: multiply;
                }

                &-readmore {
                    align-self: end;
                    display: flex;
                    column-gap: .8rem;
                }
            }

            .line-top {
                position: absolute;
                top: 0;
                left: 0;
            }

            .line-bot {
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .line-ver {
                position: absolute;
                top: 0;
                left: 0;
            }

            &:last-child {
                .line-ver:last-child {
                    left: auto;
                    right: 0;
                }
            }

            @media (hover: hover) {
                &:hover {
                    .kustomer-kasestu-main-item-title {
                        color: var(--cl-orange);
                    }

                    .kustomer-kasestu-main-item-bot {
                        color: var(--cl-orange);

                        &-img {
                            transform: scale(1.98);
                        }
                    }
                }
            }
        }
    }
}