@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.contact-hero {
    padding-top: 18rem;
    padding-bottom: 5rem;

    &-title {
        grid-column: 1/14;
    }
}

.contact-info {
    position: relative;
    padding-bottom: 4rem;
    
    &-headquarters {
        grid-column: 1/7;
    }
    &-getintouch {
        grid-column: 7/12;
    }
    &-contact {
        grid-column: 12/-1;
    }

    &-line {
        grid-column: 1/-1;
        grid-row: 1/1;
        margin-bottom: 4rem;
    }
}

@include md {
    .contact-hero {
        padding-bottom: 4rem;

        &-title {
            grid-column: 1/-1;
        }
    }
    .contact-info {
        padding-bottom: .4rem;

        &-headquarters,
        &-getintouch,
        &-contact {
            grid-column: 1/-1;
            margin-bottom: 2rem;
        }

        &-line {
            margin-bottom: 2.4rem;
        }
    }
}

@include sm {
    .contact-hero {
        padding-top: 16rem;
    }
}