@use '@styles/mixins' as *;

.katalog-hero {
    padding-top: 24rem;
    padding-bottom: 8rem;

    @include md {
        padding-top: 18rem;
        padding-bottom: 6rem;
    }

    @include sm {
        padding-top: 14rem;
        padding-bottom: 4rem;
    }

    &-title {
        grid-column: 1/7;

        @include sm {
            grid-column: 1/-1;
            @include text(h1);
            margin-bottom: 1.6rem;
        }
    }

    &-subtitle {
        grid-column: 11/-1;
        align-self: end;
        margin-bottom: .9rem;
        margin-left: -1.2rem;

        @include md {
            grid-column: 8/-1;
            font-weight: 700;
            text-transform: unset;
            margin-left: -.6rem;
            margin-bottom: unset;
            @include text(14);
        }

        @include sm {
            grid-column: 1/-1;
            margin-left: unset;
            font-weight: 500;
            @include text(16);
        }
    }
}