@use '@styles/mixins' as *;

.katalog-hero {
    padding-top: 24rem;
    padding-bottom: 8rem;

    @include md {
        padding-top: 18rem;
        padding-bottom: 6rem;
    }

    &-title {
        grid-column: 1/7;

        @include md {
            grid-column: 1/7;
        }
    }

    &-subtitle {
        grid-column: 11/-1;
        align-self: end;
        margin-bottom: .9rem;
        margin-left: -1rem;

        @include md {
            grid-column: 8/-1;
            font-weight: 700;
            text-transform: unset;
            margin-left: -.6rem;
            margin-bottom: unset;
            @include text(14);
        }
    }
}