---
import { getAllByType, getPage } from '@/prismic';
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
    const list = await getAllByType('resource');
    const cateList = [];
    list.map(({ data }, idx) => {
        !cateList.includes(data.category) && cateList.push(data.category)
    })
    return cateList.map((item: any) => {
        return {
            params: {resourceCate: item.toLowerCase().replaceAll(' ', '-')},
            props: {item}
        }
    })
}

const { resourceCate } = Astro.params;
const { item } = Astro.props;
---
<Layout title={item.title}>
    <h1>{resourceCate}</h1>
</Layout>




