@use '@styles/mixins' as *;
@use '@styles/colors' as *;

.fullfil-main {
    contain: paint;
    padding-bottom: 6.4rem;

    &-img {
        height: 70rem;

        &-inner {
            height: 100%;
        }
    }

    &-content {
        margin-top: 15.2rem;
        grid-column: 1/9;

        &-line {

            grid-column: 1/-1;
            margin-left: calc(var(--container-padding) * -1);
            width: calc(100% + var(--container-padding) * 2);
            z-index: 10;
        }

        &-title {
            margin-bottom: 8rem;

            .txt-green {
                @include text(h0);
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            width: 100%;
            row-gap: 8rem;
            padding-bottom: 10rem;
        }

        &-item {
            position: relative;

            &-head {
                display: flex;
                width: 100%;
                justify-content: space-between;
                column-gap: 1rem;
                margin-bottom: 3rem;
                transition: color .4s ease;

                &-title {}

                .dot {
                    flex-shrink: 0;
                    @include size(2.8rem);
                    background-color: var(--cl-orange);
                    border-radius: 1000vmax;
                    margin-top: 1.5rem;
                    opacity: 0;
                    transition: opacity .4s ease;
                }
            }

            .line-top {
                margin-bottom: 8rem;
            }

            &.active {
                .fullfil-main-content-item-head {
                    color: var(--cl-orange);
                }

                .dot {
                    opacity: 1;
                }
            }

            @media (hover: hover) {
                &:hover {
                    .fullfil-main-content-item-head {
                        color: var(--cl-orange);
                    }

                    .dot {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &-thumb {
        grid-column: 11/-1;
        padding-top: 40.4rem;
        padding-bottom: 10rem;

        &-sticky {
            position: sticky;
            top: calc(50vh - 34rem);
            display: grid;
            align-items: center;
            grid-template-columns: 1fr;
        }

        &-inner {
            grid-column: 1/2;
            grid-row: 1/2;
            width: 100%;
            aspect-ratio: 0.8671679198;
            opacity: 0;
            transition: opacity .4s ease;


            &.active {
                opacity: 1;
            }
        }
    }
}