@use '@styles/mixins' as *;
@use '@styles/colors' as *;


.complian-proce {
    position: relative;
    padding-top: 17.3rem;

    &-line {
        position: absolute;
        top: 0;
    }

    &-label {
        grid-column: 1/9;
        max-width: 78rem;
        margin-bottom: 2rem;
    }

    &-title {
        grid-column: 1/9;
        max-width: 78rem;
    }

    &-sub-wrap {
        align-self: end;
        grid-column: 12/-1;
    }

    &-sub {
        width: 100%;
        margin-bottom: 4rem;
    }

    &-link {
        display: flex;
        column-gap: .8rem;
        align-items: center;
    }

    &-main {
        grid-column: 1/-1;
        margin-top: 10rem;
        position: relative;

        &-item {
            --height-overlap: 10rem;
            --top-distance: 14rem;

            background-color: var(--cl-bg);
            position: sticky;
            top: calc(var(--top-distance) + var(--height-overlap) * var(--idx));
            padding-bottom: calc(var(--height-overlap) * var(--pd-bot));
            margin-top: calc(var(--height-overlap) * var(--mg-top) * -1);

            &-inner {
                padding-top: 6rem;
                padding-bottom: 6rem;
                display: flex;
                align-items: start;
                justify-content: space-between;
                column-gap: 4rem;
            }

            line-top {
                position: absolute;
                top: 0;
                left: 0;
            }

            .line {
                position: absolute;
                left: 0;
                transform-origin: left;

                &-top {
                    top: 0;
                }

                &-bot {
                    bottom: 0;

                    @include sm {
                        display: none;
                    }
                }
            }

            &-title {
                display: flex;
                align-items: start;
                column-gap: 4rem;
                margin-bottom: 4rem;
                max-width: 128rem;

                // &-txt {
                //     @include md {
                //         @include text(h3);
                //     }
                // }

                &-dot {
                    margin-top: 2rem;
                    @include size(2.8rem);
                    border-radius: 50%;
                    flex: none;
                    background-color: var(--cl-txt);
                }
            }

            &-sub {
                margin-left: 6.8rem;
                max-width: 64.4rem;

                @include md {
                    margin-left: 4.8rem;
                    max-width: 37rem;
                    @include text(16);
                }

                @include sm {
                    margin-left: 0;
                    margin-bottom: 2.4rem;
                }
            }

            &-img {
                flex: none;
                height: 16rem;
                overflow: hidden;

                // img {
                //     @include sm {
                //         object-fit: cover;
                //         width: 100% !important;
                //         height: auto !important;
                //     }
                // }
            }
        }
    }
}