.fullfil-hero {
    padding-top: 25rem;
    padding-bottom: 10rem;

    &-title {
        grid-column: 1/9;
    }

    &-sub {
        align-self: end;
        grid-column: 12/-1;
        margin-left: calc(var(--grid-gap) * -1);
        margin-bottom: .9rem;
    }
}