@use '@styles/mixins' as *;
.home-hero-three {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    pointer-events: none;
    height: calc(100% - var(--SectionPadBot) - var(--btnHeight) + ((100vh - var(--HomeProductCardHeight)) / 2));
    &-wrap {
        --btnHeight: 16.8rem;
        --HomeProductCardHeight: 66.2rem;
        --SectionPadBot: 28.8rem;
        position: relative;
        z-index: 2;
        @include md {
            --HomeProductCardHeight: 41rem;
            --btnHeight: 13.6rem;
            --SectionPadBot: 13rem;
        }
    }
    &-stick {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        &-inner {
            width: 100%;
            height: 100%;
        }
    }
    * {
        pointer-events: none !important;
    }
}