@use '@styles/colors' as *;
@use '@styles/mixins' as *;


.kustomer-cta {
    position: relative;
    z-index: 5;

    padding: {
        top: 39.6rem;
        bottom: 7.55rem;
    }

    &-bg {
        position: absolute;
        inset: 0;
    }

    .container {
        height: 100%;
    }

    &-main {
        grid-column: 1/7;
        align-self: end;
        border: solid .2rem var(--cl-txt);
        background-color: var(--cl-bg);

        &-head {
            padding: 2rem;
        }

        &-tail {
            padding: 2rem;
            position: relative;

            .line {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .line.line-bot {
        position: absolute;
        bottom: -.2rem;
        left: 0;
    }

    &-line {
        position: absolute;
        top: 0;
        left: 0;
    }
}