@use '@styles/mixins' as *;
@use '@styles/colors' as *;


.popup {
    position: fixed;
    top: 0;
    left: 0;
    @include size(100vw, 100vh);
    background: rgba(0, 0, 0, 0.90);
    display: flex;
    align-items: center;
    opacity: 0;
    z-index: 999;
    pointer-events: none;
    transition: opacity .4s ease;

    @include sm {
        height: 100dvh;
        background-color: var(--cl-bg);
    }

    &.active {
        opacity: 1;
        pointer-events: auto;
    }

    .container.grid {
        @include sm {
            height: 100%;
            max-height: 100%;

        }
    }

    &-itemdtl {
        --padding-2side: 10rem;

        position: relative;
        grid-column: 2/16;
        background-color: var(--cl-bg);

        opacity: 1;

        @include md {
            grid-column: 1/-1;
        }

        @include sm {
            height: 100%;
            overflow: hidden;
        }

        &-wrap {

            @include sm {
                height: 100%;
                margin-right: calc(var(--container-padding) * -1);
            }

            &-inner {
                display: grid;
                grid-template-columns: repeat(14, 1fr);
                column-gap: var(--grid-gap);
                padding: 7.9rem 0;
                max-height: calc(100vh - var(--padding-2side)*2);

                @include md {
                    padding: 5rem 0;
                    grid-template-columns: repeat(12, 1fr);
                }

                @include sm {
                    display: block;
                    padding-top: 6rem;
                    height: 100%;
                    max-height: unset;
                    overflow-y: auto;
                    padding-right: var(--container-padding);
                }
            }
        }

        &.active {
            opacity: 1;
        }

        &-title {
            display: none;

            @include sm {
                display: block;
                width: 100%;
                margin-bottom: 4rem;
            }
        }

        &-btn {
            position: absolute;
            padding: 1rem;
            top: 3rem;
            right: 3rem;
            transition: color .4s ease;

            @include md {
                top: 1rem;
                right: 1rem;
            }

            @include sm {
                top: .6rem;
                right: -1rem;
            }

            @media (hover: hover) {
                &:hover {
                    color: var(--cl-orange);
                }
            }
        }

        &-card {
            grid-column: 2/6;
            border: .2rem solid var(--cl-txt);
            margin-left: calc(var(--grid-gap)* -1);
            align-self: center;
            height: fit-content;

            @include md {
                align-self: start;
                grid-column: 2/6;
                margin-left: calc(-1 * var(--grid-gap) - .8rem);
                margin-right: 2.5rem;
            }

            @include sm {
                margin: unset;
                margin-bottom: 4rem;
            }

            &-img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                aspect-ratio: 0.867803838;

                @include md {
                    aspect-ratio: 0.7894736842;
                }

                @include sm {
                    aspect-ratio: 1.2077464789;
                }

                &-inner {
                    height: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;

                    @include md {
                        width: 18.8rem;
                    }

                    @include sm {
                        width: 23.3rem;
                    }
                }

                .keen-slider__slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: none;
                    padding: 2rem;
                }
            }

            &-bottom {
                display: flex;
                border-top: .2rem solid var(--cl-txt);
                justify-content: space-between;
            }

            &-pagi {
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: center;
                column-gap: .6rem;

                &-btn {
                    @include size(1rem);
                    background-color: var(--cl-txt);
                    border-radius: 100vmax;

                    @include md {
                        @include size(.7rem);
                    }
                }
            }

            &-nav {
                display: flex;

                &-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-left: .2rem solid var(--cl-txt);
                    @include size(5.6rem, 5.6rem);

                    &.prev {
                        .ic svg {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }

        &-content {
            grid-column: 7/14;
            margin-left: calc(var(--grid-gap)* -1);
            margin-right: calc(var(--grid-gap)* -1);
            align-self: center;
            display: flex;
            flex-direction: column;
            height: 100%;

            @include md {
                grid-column: 6/12;
                margin-left: unset;
                margin-right: calc(-1 * var(--grid-gap) - .8rem);
            }

            @include sm {
                margin-right: unset;
                height: fit-content;
                // height: calc(100% - 50rem);
                // padding-bottom: 5rem;
            }

            &-title {
                max-width: 69.4rem;
                margin-top: 4.2rem;
                margin-bottom: 4rem;

                @include md {
                    max-width: none;
                    margin-top: unset;
                    margin-right: .8rem;
                }

                @include sm {
                    display: none;
                }
            }
        }

        &-table {
            display: flex;
            flex-direction: column;
            // flex: 1;
            height: 100%;

            @include sm {
                display: block;
                height: unset;
            }

            &-head,
            &-item-div {
                display: grid;
                max-width: 100%;
                grid-template-columns: 13.1% 9.5% 11.6% 16% 34% 1fr;
                column-gap: 1rem;
                border-bottom: .2rem solid var(--cl-txt);
            }

            &-head {
                padding-bottom: 1.6rem;

                @include md {
                    display: none;
                }
            }

            &-item-wrap {
                flex: 1 1 auto;
                overflow-y: auto;
                // height: 0;
                // padding-bottom: .2rem;
                scrollbar-width: none;

                @include sm {
                    flex: 0;
                    overflow: visible;
                }
            }

            &-item {

                .popup-itemdtl-table-model {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: .8rem;
                    padding-right: .8rem;

                    @include md {
                        padding: unset;
                    }

                    &-inner {
                        @include size(4.8rem);
                    }
                }

                &-div {
                    align-items: center;
                    padding-top: .8rem;
                    padding-bottom: .8rem;

                    @include md {
                        grid-template-columns: 25.1fr 74.9fr;
                        column-gap: unset;
                        padding: unset;
                    }

                    &.desktop {
                        @include md {
                            display: none;
                        }
                    }

                    &.tablet {
                        display: none;

                        @include md {
                            position: relative;
                            display: grid;

                            .div-left {
                                grid-column: 1/2;
                                grid-row: 1/2;
                                padding-top: 2.4rem;
                                padding-bottom: 2.4rem;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                row-gap: 2rem;
                                align-items: start;

                                .wrap {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: start;
                                    row-gap: .8rem;
                                }
                            }

                            .div-right {
                                grid-column: 2/3;
                                grid-row: 1/2;
                                padding-top: 2.4rem;
                                padding-bottom: 2.4rem;
                                padding-left: 2rem;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                row-gap: 1.2rem;
                                align-items: start;

                                .wrap {
                                    width: 100%;
                                    display: flex;
                                    column-gap: 1rem;
                                }
                            }

                            .head {
                                @include text(14);
                                flex-shrink: 0;
                            }

                            .body {
                                flex: 1;
                                text-align: end;
                            }

                            .popup-itemdtl-table-code {}

                            .popup-itemdtl-table-size {}

                            .popup-itemdtl-table-color {}

                            .popup-itemdtl-table-count {}

                            .popup-itemdtl-table-dtl {}

                            .popup-itemdtl-table-model {
                                display: flex;
                                align-items: start;
                                flex-direction: column;

                                &-inner {
                                    @include size(4.8rem)
                                }
                            }


                        }
                    }
                }

                .line {
                    display: none;

                    @include md {
                        &-top {
                            display: block;
                            position: absolute;
                            top: -.1rem;
                            left: 0;
                        }

                        &-mid {
                            display: block;
                            grid-column: 2/3;
                            grid-row: 1/-1;
                        }

                        &-bot {
                            display: block;
                            position: absolute;
                            bottom: -.1rem;
                            left: 0;
                        }
                    }
                }

                &:first-child {
                    @include md {
                        .line-top {
                            top: 0rem;
                        }
                    }
                }
            }
        }
    }
}