@use '@styles/colors' as *;
@use '@styles/mixins' as *;


.kustomer-sus {
    padding-top: 20rem;

    &-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &-item {
        grid-column: span 1;
        display: flex;
        flex-direction: column;

        &-frag {
            position: relative;
            justify-content: space-between;
            // height: 41.97rem; // aspect-ratio: 1.417989418;
            aspect-ratio: 1.417989418;
            padding: 4rem;
            padding-right: 6rem;

            &-ic {
                @include size(6.4rem);
            }

            &-content {
                &-title {
                    margin-bottom: 1.6rem;
                    max-width: 50%;
                }
            }


            .line {
                position: absolute;
                top: -.1rem;
                left: -.1rem;
                width: calc(100% + .2rem);
                height: .2rem;

                &-ver {
                    width: .2rem;
                    height: calc(100% + .2rem);
                }

                &-right {
                    left: auto;
                    right: -.1rem;
                }

                &-bot {
                    top: auto;
                    bottom: -.1rem;
                }
            }
        }

        &-title {
            grid-column: 2/4;
            grid-row: 1/2;
            padding-left: 4rem;
            padding-right: 7rem;
            justify-content: center;

            &-txt {
                margin-top: 2.1rem;

                .span {
                    // font-size: 11.44489796%;
                }
            }
        }

        &-explore {
            grid-column: span 2;
            display: flex;
            flex-direction: row;
            padding-left: 4rem;
            align-items: end;
            justify-content: space-between;

            &-title {
                width: 65.79457364%;
            }

            &-btn {
                display: flex;
                flex-direction: column;
                background-color: var(--cl-orange);
                @include size(24rem);
                align-self: end;
                padding: 4rem;
                justify-content: space-between;
                color: var(--cl-bg);

                .ic {
                    align-self: end;
                }
            }
        }
    }
}