@use '@styles/colors' as *;
@use '@styles/mixins' as *;


.kustomer-sus {
    padding-bottom: 21rem;

    &-head {
        grid-column: 4/14;
        text-align: center;

        &-img {
            margin-bottom: 2rem;
            max-width: 96.2%;
        }
    }
}