@use '@styles/colors' as *;
@use '@styles/mixins' as *;


.kustomer-sus {
    padding-bottom: 21rem;

    &-head {
        grid-column: 4/14;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8rem;

        &-img {
            margin-bottom: 2rem;
            width: 96.2%;
            max-width: 96.2rem;
        }
    }


    &-main {
        position: relative;
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(var(--grid-column), 1fr);
        column-gap: var(--grid-gap);

        &-line-top {
            grid-column: 1/-1;
        }

        &-cate {
            grid-column: 1/5;

            &-list {
                padding-top: 4rem;
                display: flex;
                flex-direction: column;
                row-gap: 2.8rem;

                &-item {
                    position: relative;
                    display: flex;
                    align-items: center;

                    &-txt {
                        transition: transform .4s ease;
                    }

                    .dot {
                        position: absolute;
                        flex: none;
                        border-radius: 50%;
                        width: 1rem;
                        height: 1rem;
                        opacity: 0;
                        background-color: var(--cl-orange);
                        transition: all .4s ease;
                    }

                    &-inner {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        column-gap: 0.8rem;
                        transition: color .4s ease;

                        &:hover {
                            .dot {
                                opacity: 1;
                                transition-delay: .8s;
                            }

                            .kustomer-sus-main-cate-list-item-txt {
                                transform: translateX(1.8rem);
                            }
                        }

                        &.active {
                            color: var(--cl-orange);

                            .dot {
                                opacity: 1;
                                transition-duration: .4s !important;
                                transition-delay: 0ms !important;
                            }

                            .kustomer-sus-main-cate-list-item-txt {
                                transform: translateX(1.8rem);
                            }
                        }
                    }
                }
            }
        }

        &-table {
            grid-column: 5/-1;
            margin-left: calc(var(--grid-gap) * -1);
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            &-item {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                &-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4rem;
                    aspect-ratio: 1.068;
                    overflow: hidden;

                    img {
                        width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                    }
                }

                &-info {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-self: end;
                    width: 100%;
                    flex: 1;

                    &-name {
                        display: inline-flex;
                        align-items: center;
                        padding: 2.6rem 0;
                        margin: 0 3.2rem;
                    }

                    &-qr {
                        position: relative;
                        flex-shrink: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 1rem;

                        &-inner {
                            @include size(8rem);
                        }
                    }
                }

                .line-qr {
                    position: absolute;
                    left: 0;
                    left: -.1rem;
                }

                .line-left {
                    position: absolute;
                    top: -.1rem;
                    left: -.1rem;
                }

                .line-mid {
                    position: absolute;
                    top: 0;
                }

                .line-right {
                    position: absolute;
                    height: calc(100% + .2rem);
                    top: -.1rem;
                    right: -.1rem;
                }

                .line-bot {
                    position: absolute;
                    bottom: -.1rem;
                }
            }
        }
    }
}