@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.case-hero {
    padding-top: 24rem;
    &-title {
        grid-column: 1/7;
        max-width: 50.5rem;
    }
    &-content {
        grid-column: 12/17;
        &-sub {
            margin-bottom: 3rem;
        }
        &-author {
            padding-top: 2rem;
            padding-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-info {
                display: flex;
                align-items: center;
                column-gap: 1.2rem;
            }
            &-ava {
                width: 4.4rem;
                height: 4.4rem;
                overflow: hidden;
                border-radius: 50%;
            }
            &-name {
                margin-bottom: .4rem;
            }
            &-company {
                height: 5rem;
            }
        }

    }
}

@include md {
    .case-hero {
        padding-top: 19.3rem;
        &-content {
            grid-column: 7/13;

            &-sub {
                @include text(16);
            }
            &-author {
                padding-bottom: 3.6rem;
            }
        }
    }
}

@include sm {
    .case-hero {
        padding-top: 16.8rem;

        &-title {
            grid-column: 1/-1;
            margin-bottom: 4rem;
            max-width: 30.4rem;
            @include text(h1);
        }
        &-content {
            grid-column: 1/-1;

            &-author {
                padding-bottom: 2rem;
            }
        }
    }
}