@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.resource-hero {
    padding-top: 23.7rem;

    &-title {
        grid-column: 1/8;
    }
    &-subtitle {
        grid-column: 12/-1;
        margin-bottom: 7rem;
    }
}

@include md {
    .resource-hero {
        padding-top: 17.5rem;
    
        &-title {
            grid-column: 1/-1;
            margin-bottom: 1.6rem;
        }
        &-subtitle {
            grid-column: 1/7;
            margin-bottom: 4rem;
            margin-right: calc(var(--grid-gap)/2 * -1);
            @include text(16);
        }
    }
}

@include sm {
    .resource-hero {
        padding-top: 15.8rem;

        &-title {
            @include text(h1);
        }
        &-subtitle {
            grid-column: 1/-1;
            margin-right: 0;
        }
    }
}