@use '@styles/mixins' as *;
@use '@styles/colors' as *;

.filled {
    &~ label {
        transform: var(--transform);
        top: var(--top-transform);
    }
}

.open {
    &~ span  {
        &~ span {
            transform: scaleX(1);
        }
    }
    &~ label {
        transform: var(--transform);
        top: var(--top-transform);
    }
}

.selectToggle {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;    
    background-color: var(--cl-bg);
}
.selectToggleIc {
    padding: 0 1rem;
    transition: transform 0.4s ease;
    @include md {
        padding: 0 .4rem;
    }
}
.input {
    // pointer-events: none;
}
.selectOption {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 2;
    background-color: var(--cl-bg);
    opacity: 0;
    transform: translateY(-1rem);
    transition: all 0.4s ease-in-out;
    transform-origin: center;
    pointer-events: none;
    border: 0.2rem solid var(--cl-txt);
    border-left: none;
    border-top: none;
    @include sm {
        margin-inline: -2rem;
        width: calc(100% + 2rem * 2);
        padding-inline: 2rem;
        border-left: none;
        border-right: none;
    }
    &.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }
}

.options {
    display: flex;
    flex-direction: column;
    padding-left: var(--offset-left);
    padding-block: 4.2rem;
    @include md {
        padding-block: 2.2rem;
    }
}
.option {
    position: relative;
    display: flex;
    align-items: center;
    padding-block: 2rem;
    transition: color .3s ease;
    cursor: pointer;
    @include md {
        padding-block: 1rem;
    }
    @include sm {
        padding-block: 1.4rem;
    }
    &::after {
        content: "";
        position: absolute;
        left: -3.2rem;
        display: block;
        opacity: 0;
        @include size(1.6rem);
        background-color: var(--cl-orange);
        transition: opacity 0.4s ease-in-out, transform 1.333s linear(
            0, 0.009, 0.035 2.1%, 0.141 4.4%, 0.723 12.9%, 0.938, 1.077 20.4%, 1.121,
            1.149 24.3%, 1.163 27%, 1.154 29.9%, 1.017 43.1%, 0.991, 0.977 51%,
            0.975 57.1%, 1.003 76.9%, 1
        );
        transform: scale(.8);
        @include md {
            left: -2rem;
            @include size(.8rem);
        }
        @include sm {
            display: none;
        }
    }

    &.current{
        color: var(--cl-orange);
        &::after {
            opacity: 1;
        }
    }
}

@media (hover: hover) {
    .option {
        &:hover {
            color: var(--cl-orange);
            &::after {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}
