@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.home-comp {
    height: 400vh;
    position: relative;
    contain: paint;
    @include sm {
        height: auto;
    }
    &.desk-ver {
        @include sm {
            display: none;
        }
    }
    &.mb-ver {
        display: none;
        @include sm {
            display: block;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        color: var(--cl-txt);
    }
    &-stick {
        position: sticky;
        top: 0;
        height: 100vh;
        background-color: var(--cl-bg);
        @include sm {
            height: auto;
        }
    }
    &-title-wrap {
        padding-top: 12rem;
        margin-bottom: 4.8rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 140rem;
        margin-inline: auto;
        @include md {
            padding-top: 16rem;
            margin-bottom: 6.2rem;
        }
        @include sm {
            padding-top: 8rem;
            margin-bottom: 4rem;
            margin-left: 0;
        }
    }
    &-title {
        width: 100%;
        margin: 0 auto;
        max-width: 140rem;
        @include sm {
            @include text(h3);
            text-align: start;
        }
    }
    &-main {
        grid-template-columns: repeat(16, 1fr);
        align-items: center;
        flex-grow: 1;
        padding-bottom: 4.8rem;
        @include md {
            grid-template-columns: repeat(12, 1fr);
            padding-bottom: 1.2rem;
            grid-template-rows: 1fr auto;
        }
        @include sm {
            grid-template-columns: repeat(4, 1fr);
            padding-bottom: 0;
        }
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-column: span 4;
            text-align: center;
            max-width: 38.7rem;
            justify-content: start;
            justify-self: center;
            @include md {
                grid-row: 2/3;
                padding-bottom: 6.2rem;
                height: 100%;
                justify-self: center;
                &.good {
                    grid-column: 1/6;
                }
                &.bad {
                    grid-column: 8/13;
                }
            }
            .ic {
                margin-bottom: 2rem;
                @include md {
                    margin-bottom: 1.6rem;
                    @include size(6rem);
                }
            }
            &-title {
                margin-bottom: 2rem;
                @include md {
                    margin-bottom: 1.6rem;
                }
            }
            &-list {
                padding: 0 2rem;
                display: grid;
                &-item {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    opacity: 0;
                    @include transition(all 600ms ease);
                    @include md {
                        @include text(16);
                    }
                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
        &-prog {
            justify-self: center;
            grid-column: span 8;
            margin-inline: 6.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            --content-height: calc(100vh - 12rem - 4.8rem - 4.8rem - var(--fs-h0) * 2);
            width: 100%;
            max-width: var(--content-height);
            max-height: var(--content-height);
            @include md {
                --content-height: auto;
                grid-column: 4/10;
                grid-row: 1/2;
                margin-inline: 0;
            }
            &-inner {
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &-plates {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 2;
            }
            &-dot {
                z-index: 2;
                position: absolute;
                inset: 0;
                display: grid;
                img {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    transform: rotate(var(--angle));
                }
            }
            &-dash {
                z-index: 2;
                position: absolute;
                inset: 0;
                display: grid;
                img {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    transform: rotate(var(--angle));
                }
            }
            &-line  {
                z-index: 1;
                position: absolute;
                inset: 0rem;
                transform: rotate(-90deg);
                circle {
                    stroke-dashoffset: 0;
                    stroke-dasharray: 0, 1;
                    opacity: 0;
                    transition: opacity 200ms ease;
                }
                &.active {
                    circle {
                        opacity: 1;
                    }
                }
            }
            &-list {
                position: absolute;
                z-index: 3;
                inset: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                &-item {
                    opacity: 0;
                    text-align: center;
                    max-width: 45rem;
                    @include transition(all 600ms ease);
                    @include transform(scale(.94));
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    position: absolute;
                    @include md {
                        max-width: 17.5rem;
                        @include text(h4);
                    }
                    &.active {
                        opacity: 1;
                        @include transform(scale(1));
                    }
                }
            }
            .line-ver {
                width: .4rem;
                height: 50vh;
                position: absolute;
                top: -1rem;
                margin-top: 100%;
                background-color: var(--cl-txt);
            }
        }
        &-slide {
            overflow: visible !important;
            &-item {
                --width-slide: calc(100% - 5.3rem) !important;
                min-width: var(--width-slide);
                max-width: var(--width-slide);
                border-right: .2rem solid var(--cl-txt);
                border-top: .2rem solid var(--cl-txt);
                border-bottom: .2rem solid var(--cl-txt);
                margin: -.2rem 0;
                min-height: calc(100% + .4rem) !important;
                &:first-child {
                    border-left: .2rem solid var(--cl-txt);
                }
                & > *:not(.home-comp-main-slide-title) {
                    opacity: .5;
                    transition: opacity 400ms ease;
                }
                .home-comp-main-slide-title {
                    .heading {
                        opacity: .5;
                        transition: opacity 400ms ease;
                    }
                }
                &.active {
                    > * {
                        opacity: 1;
                    }
                    .home-comp-main-slide-title {
                        .heading {
                            opacity: 1;
                        }
                    }
                }
            }
            &-title {
                padding: 2rem 1.6rem;
                border-bottom: .2rem solid var(--cl-txt);
                .heading {
                    min-height: calc(2.4rem * 1.1 * 2);
                    max-height: calc(2.4rem * 1.1 * 2);
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                }
            }
            &-list {
                padding: 2.4rem 1.6rem;
                display: flex;
                flex-direction: column;
                gap: 3rem 0;
            }
            &-detail {
                display: flex;
                flex-direction: column;
                align-items: start;
                &-title {
                    max-width: 30rem;
                    margin-bottom: 1.2rem;
                }
                &-ic {
                    margin-bottom: 1.2rem;
                    .ic-80 {
                        @include size(4.8rem);
                    }
                }
                &-content {
                    height: calc(1.6rem * 1.3 * 3);
                    max-height: calc(1.6rem * 1.3 * 3);
                    overflow: hidden;
                }
            }
            &-pagination {
                margin-top: 2rem;
                .dots {
                    display: flex;
                    align-items: center;
                    justify-content: center
                }
                .dot {
                    padding: .3rem;
                    span {
                        display: block;
                        @include size(.7rem);
                        background-color: rgba($cl-txt, .6);
                        border-radius: 50%;
                        transition: background-color 0.4s ease;
                    }
                    &.active {
                        span {
                            background-color: var(--cl-orange);
                        }
                    }
                }
            }
        }
    }
}