@use '@styles/colors' as *;
@use '@styles/mixins' as *;

.resource-dtl {
    padding-top: 20.4rem;

    &-bread {
        z-index: 5;
        grid-column: 1/-1;
        display: flex;
        column-gap: .8rem;
        align-items: center;

        div {
            pointer-events: none;
        }

        a {
            transition: color .4s ease;

            @media (hover: hover) {
                &:hover {
                    color: var(--cl-orange);
                }
            }
        }
    }

    &-title {
        grid-column: 1/-1;

        margin: {
            top: 1.8rem;
            bottom: 8rem;
        }

        ;
    }

    &-line {
        grid-column: 1/-1;
    }

    &-info {
        position: relative;
        grid-column: 1/5;
        padding-top: 8.5rem;
        padding-bottom: 9rem;

        &-stick {
            position: sticky;
            top: 18rem;
            display: flex;
            flex-direction: column;
            row-gap: 2.4rem;
        }

        .line {
            display: none;
        }

        &-item {
            &-head {
                margin-bottom: .4rem;
            }

            &-link {
                color: var(--cl-txt);
                @include size(4.2rem);
                transition: color .4s ease;

                @media (hover: hover) {
                    &:hover {
                        color: var(--cl-orange);
                    }
                }
            }

            &.link {
                display: flex;
                column-gap: 1.6rem;
            }
        }
    }

    &-richtxt {
        position: relative;
        grid-column: 5/-1;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: var(--grid-gap);

        & .line-ver {
            position: absolute;
            top: 0;
            left: 0;
            width: .2rem;
            height: 100%;
        }

        &-main {
            grid-column: 2/12;
            margin-top: 4.5rem;
            padding-bottom: 9rem;

            h2 {
                font-family: "HelveticaNowDisplay", sans-serif;
                @include text(h5);
                font-weight: 900;
                text-transform: uppercase;
                margin-top: 6rem;
                margin-bottom: 2.4rem;
            }

            h3 {
                font-family: "HelveticaNowDisplay", sans-serif;
                @include text(h6);
                font-weight: 900;
                text-transform: uppercase;
                margin-top: 2.8rem;
                margin-bottom: 2.4rem;
            }

            h4 {
                @include text(20);
                font-weight: 700;
            }

            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                row-gap: 2.4rem;
                margin-top: 2.4rem;
                margin-bottom: 2.8rem;

                li {
                    display: flex;

                    &::before {
                        content: "";
                        display: block;
                        position: relative;
                        @include size(1rem);
                        background-color: var(--cl-txt);
                        border-radius: 100vmax;
                        flex-shrink: 0;

                        margin: {
                            top: .9rem;
                            right: 2rem;
                        }
                    }
                }
            }

            figure {
                margin-top: 4rem;
                margin-bottom: 7.2rem;

                figcaption {
                    margin-top: 1.6rem;
                }
            }

            blockquote {
                margin-top: 4.8rem;
                margin-bottom: 2.4rem;

                p {
                    position: relative;
                    font-family: "HelveticaNowDisplay", sans-serif;
                    @include text(h5);
                    font-weight: 900;
                    text-transform: uppercase;
                    padding-left: 4.4rem;

                    &::before {
                        content: "";
                        position: absolute;
                        display: block;
                        top: 0;
                        left: 0;
                        width: .2rem;
                        height: 100%;
                        background-color: var(--cl-txt);
                    }
                }

                footer {
                    font-family: "Inter Variable", sans-serif;
                    @include text(18);
                    margin-top: 1.6rem;
                    padding-left: 4.4rem;
                }
            }

            p {
                margin-top: 1.2rem;
                margin-bottom: 1.2rem;
            }
        }
    }

    &-rel {
        grid-column: 1/-1;

        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: {
                top: 5rem;
                bottom: 5rem;
            }

            &-nav {
                display: flex;
                flex-shrink: 0;

                &-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: solid 0.2rem var(--cl-txt);
                    @include size(3.6rem);
                    transition: color .4s ease;

                    .ic {
                        transition: opacity .4s ease;
                    }

                    &-prev {
                        border-right: none;

                        .ic {
                            transform: rotate(180deg);
                        }
                    }

                    &[disabled] .ic {
                        opacity: .2;
                    }

                    @media (hover: hover) {
                        &:hover {
                            color: var(--cl-orange);
                        }
                    }
                }
            }
        }

        &-main {
            &-inner {
                &-group {
                    display: flex;

                    &-item {
                        position: relative;
                        width: calc(100% / var(--perView));
                        display: flex;

                        padding: {
                            top: 4rem;
                            bottom: 4rem;
                        }

                        &-img {
                            flex-shrink: 0;
                            @include size(23.4rem, 27.4rem);
                            overflow: hidden;
                        }

                        &-content {
                            margin-left: 3.2rem;
                            display: flex;
                            flex-direction: column;

                            &-title {
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                min-height: calc(2 * var(--lh-h4));

                                margin: {
                                    top: 1.2rem;
                                    bottom: 1.2rem;
                                }
                            }

                            &-des {
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                min-height: calc(3 * var(--lh-18));
                            }

                            &-date {
                                margin-top: auto;
                            }
                        }

                        .line-ver {
                            position: absolute;
                            top: 0;
                            left: -.1rem;
                            width: .2rem;
                            height: 100%;
                        }

                        .line:not(.line-ver) {
                            display: none;
                        }

                        &:nth-child(odd) {
                            padding-right: 4.6rem;
                        }

                        &:nth-child(even) {
                            padding-left: 4.6rem;
                        }
                    }
                }
            }
        }
    }
}


@include md {
    .resource-dtl {
        padding-top: 17.5rem;

        &-bread {
            @include text(16);
        }

        &-title {
            margin-top: 1.6rem;
            margin-bottom: 4rem;
        }

        &-info {
            grid-column: 1/4;
            padding-top: 4rem;

            &-stick {
                row-gap: 2rem;
            }

            &-item {
                &.link {
                    column-gap: 1.2rem;
                }

                &-link {
                    @include size(3.6rem);
                }
            }

            .txt-18 {
                @include text(16);
            }

            .txt-20 {
                @include text(18);
            }
        }

        &-richtxt {
            grid-column: 4/-1;
            grid-template-columns: repeat(9, 1fr);

            &-main {
                grid-column: 2/-1;
                margin-left: calc(var(--grid-gap) * -1);
                margin-top: .4rem;
                padding-bottom: 4.8rem;
                @include text(16);

                figure {
                    margin-top: 3.6rem;
                    margin-bottom: 4rem;
                }

                h2 {
                    margin-top: 3.6rem;
                    margin-bottom: 2rem;
                }

                h3 {
                    margin-top: 1.6rem;
                    margin-bottom: 1rem;
                }

                ul {
                    li {
                        &:before {
                            margin-top: 0.64rem;
                            margin-right: 1.6rem;
                            @include size(.8rem);
                        }
                    }
                }

                p {
                    margin-top: 1.6rem;
                    margin-bottom: 1rem;
                }
            }
        }

        &-rel {
            &-head {
                padding: {
                    top: 2.8rem;
                    bottom: 2.8rem;
                }
            }

            &-main {
                &-inner {
                    &-group {
                        flex-direction: column;

                        &-item {
                            width: 100%;

                            padding: {
                                top: 3.2rem;
                                bottom: 3.2rem;
                            }

                            &-img {
                                @include size(21.5rem, 25.1rem);
                            }

                            &-content {
                                &-cate {
                                    @include text(16);
                                }

                                &-title {
                                    @include text(h5);
                                }

                                &-des {
                                    @include text(16);
                                }

                                &-date {
                                    @include text(16);
                                }
                            }

                            &:nth-child(odd) {
                                padding-right: 0;
                            }

                            &:nth-child(even) {
                                padding-left: 0;
                            }

                            .line-ver {
                                display: none;
                            }

                            .line:not(.line-ver) {
                                display: block;
                                position: absolute;
                                top: -.1rem;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include sm {
    .resource-dtl {
        padding-top: 15.8rem;

        &-title {
            @include text(h1);
            word-wrap: break-word;
        }

        &-info {
            grid-column: 1/-1;

            padding: {
                top: 3.2rem;
                bottom: 3.2rem;
            }

            &-stick {
                position: static;
            }

            .line {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        &-richtxt {
            grid-column: 1/-1;

            .line-ver {
                display: none;
            }

            &-main {
                grid-column: 1/-1;
                padding-bottom: 4rem;

                margin: {
                    left: 0;
                    top: 0;
                }

                figure {
                    margin-top: 3.2rem;
                }

                h2 {}

                h3 {
                    margin: {
                        top: 2rem;
                        bottom: 1.6rem;
                    }
                }

                ul {
                    margin: {
                        top: 1.6rem;
                        bottom: 2rem;
                    }
                }

                p {
                    margin: {
                        top: 2rem;
                        bottom: 2rem;
                    }
                }

                blockquote {
                    p {
                        padding-left: 2.4rem;
                    }

                    footer {
                        padding-left: 3.2rem;
                    }
                }
            }
        }

        &-rel {
            &-head {
                padding: {
                    top: 2.4rem;
                    bottom: 2.4rem;
                }

                &-title {
                    @include text(h5);
                }
            }

            &-main {
                &-inner {
                    &-group {
                        &-item {
                            flex-direction: column;

                            &-img {
                                width: 100%;
                                height: 24.9968rem;
                                margin-bottom: 3.2rem;
                            }

                            &-content {
                                margin-left: 0;

                                &-des {
                                    -webkit-line-clamp: 2;
                                    min-height: calc(2 * var(--lh-16));
                                }

                                &-date {
                                    margin-top: 2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}