@use '@styles/mixins' as *;
@use '@styles/colors' as *;

.field {
    position: relative;
    &:hover {
        .label {
            opacity: 1;
        }
    }
}

.fieldLine {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background-color .3s ease;
    width: 100%;
    height: 0.2rem;
    background-color: var(--cl-txt);
}
.fieldLineInner {
    position: absolute;
    @include size(100%);
    transform: scaleX(0);
    background-color: var(--cl-orange);
    transform-origin: left;
    transition: transform .6s ease;
}

.label {
    --transform: scale(0.625);
    --top-transform: 3rem;
    opacity: .6;
    position: absolute;
    left: var(--offset-left);
    top: 5.2rem;
    pointer-events: none;
    transform: scale(1);
    transform-origin: top left;
    transition: all .3s ease;
}

@media (hover: hover) {
    .field {
        &:hover {
            > span {
                > span {
                    transform: scaleX(1);
                }
            }
        }
    }
}

@include md {
    .label {
        --top-transform: 2.4rem;

        top: 3.2rem;
    }
}

@include md {
    .label {
        --top-transform: 2rem;
    }
}

