@use '@styles/mixins' as *;
.home-hero-abt {
    padding-top: 13.8rem;
    padding-bottom: 35.2rem;
    @include md {
        padding-top: 22.3rem;
        padding-bottom: 28.8rem;
    }
    @include sm {
        padding-top: calc(22.3rem + 5vh);
    }
    .container {
        height: 100%;
        display: flex;
        align-items: center;
    }
    &-title {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        > span:first-child {
            margin-bottom: -2.4rem;
        }
        @include md {
            span {
                @include text(h0);
            }
        }
        @include sm {
            display: flex;
            flex-direction: column;
            align-items: center;
            > span:first-child {
                margin-bottom: 0;
            }
            span {
                @include text(h2);
                display: inline-block;
            }
            br {
                display: none;
            }
        }
        &-top {
            text-align: center;
            display: inline-block;
            span {
                display: inline-block;
                @include md {
                    @include text(h0);
                }
                @include sm {
                    @include text(h2);
                }
                &:last-child {
                    margin-top: -1.4rem;
                    @include md {
                        margin-top: 0;
                    }
                }
            }
            @include md {
                br {
                    display: none
                }
            }
        }
    }
}
