@use '@styles/mixins' as *;
.home-hero-abt {
    padding-top: 26rem;
    padding-bottom: 26.7rem;
    @include md {
        padding-top: 17.4rem;
        padding-bottom: 20.6rem;
    }
    @include sm {
        padding-top: 13.2rem;
        padding-bottom: 11.3rem;
    }
    .container {
        height: 100%;
        display: flex;
        align-items: center;
    }
    &-title {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-grp {
            span {
                width: 100%;
                display: inline-block;
                text-align: center;
            }
            .h0 {
                @include md {
                    @include text(h1);
                }
                @include sm {
                    @include text(h4);
                }
            }
            .txt-180 {
                margin-top: -1.4rem;
                @include md {
                    margin-top: 0;
                }
                @include sm {
                    @include text(h1);
                }
            }
            &.title-bot:not(.clone-el) {
                opacity: 0 !important;
            }
            &.clone-el {
                top: 100vh;
                z-index: -1;
            }
        }
    }
}
