@use '@styles/mixins' as *;

.home-hero {
    min-height: 100vh;
    @include md {
        position: relative;
        z-index: 999;
        padding-top: 23.8rem;
        min-height: 0;
        [name="badgeMb"] .video-badge-wrap {
            display: flex;
        }
    }
    @include sm {
        padding-top: 16.9rem;
    }
    .container {
        min-height: 100vh;
        grid-template-rows: 1fr auto;
        @include md {
            min-height: 0;
        }
    }
    &-title {
        grid-column: 1/10;
        margin-bottom: 6rem;
        align-self: center;
        padding-top: 18.4rem;
        max-width: 86rem;
        @include md {
            grid-column: 2/12;
            text-align: center;
            margin-bottom: 4.8rem;
            padding-top: 0;
        }
        @include sm {
            grid-column: span 4;
            @include text(h1);
            text-align: start;
            margin-bottom: 4rem;
        }
    }
    &-sub {
        grid-column: 1/8;
        grid-row: 2/3;
        grid-template-columns: repeat(2, 1fr);
        max-width: 48.9rem;
        column-gap: 0;
        align-self: end;
        margin-bottom: 8rem;
        @include md {
            grid-column: 3/11;
            margin-bottom: 5rem;
            max-width: none;
        }
        @include sm {
            grid-column: span 4;
            margin-bottom: 11rem;
        }
        &-top {
            grid-column: 1/3;
            padding: 1.8rem 1.4rem;
            border: solid .2rem var(--cl-txt);
            @include md {
                padding: 2rem 1.6rem;
                .txt-16 {
                    @include text(14)
                }
            }
        }
        &-btn-wrap {
            padding: 1.4rem;
            border: solid .2rem var(--cl-txt);
            border-top: none;
            @include md {
                padding: 1.2rem;
                .btn-main {
                    padding: 1.85rem 1.4rem;
                }
            }
            @include sm {
                .btn-main {
                    padding: 1.85rem 0;
                }
            }
        }
        &-cta-wrap {
            padding: 1.4rem;
            border: solid .2rem var(--cl-txt);
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: none;
            border-left: none;
            @include md {
                padding: 1.2rem;
            }
        }
    }
}
