@use '@styles/mixins' as *;

.home-hero {
    padding-top: 18.4rem;
    min-height: 100vh;
    @include md {
        position: relative;
        z-index: 99;
        padding-top: 13.5rem;
    }
    .container {
        height: 100%;
        grid-template-rows: 1fr auto;
    }
    &-title {
        grid-column: 1/10;
        margin-bottom: 6rem;
        align-self: center;
        @include md {
            grid-column: 2/12;
            text-align: center;
            margin-bottom: 0;

            padding-bottom: 4.8rem;
        }
    }
    &-sub {
        grid-column: 1/8;
        grid-row: 2/3;
        grid-template-columns: repeat(2, 1fr);
        max-width: 48.9rem;
        column-gap: 0;
        align-self: end;
        margin-bottom: 8rem;
        @include md {
            grid-column: 3/11;
            margin-bottom: 0;
            padding-bottom: 9.5dvh;
            max-width: none;
        }
        &-top {
            grid-column: 1/3;
            padding: 1.8rem 1.4rem;
            border: solid .2rem var(--cl-txt);
            @include md {
                padding: 2rem 1.6rem;
            }
        }
        &-btn-wrap {
            padding: 1.4rem;
            border: solid .2rem var(--cl-txt);
            border-top: none;
            @include md {
                padding: 1.2rem;
                .btn-main {
                    padding: 1.85rem 6.2rem;
                }
            }
        }
        &-cta-wrap {
            padding: 1.4rem;
            border: solid .2rem var(--cl-txt);
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: none;
            border-left: none;
            @include md {
                padding: 1.2rem;
            }
        }
    }
}
.home-abt {
    padding-top: 13.8rem;
    padding-bottom: 35.2rem;
    @include md {
        padding-top: 22.3rem;
        padding-bottom: 28.8rem;
    }
    .container {
        height: 100%;
        display: flex;
        align-items: center;
    }
    &-title {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        max-width: 103.6rem;
        &-top {
            margin-bottom: 2rem;
            max-width: 103.6rem;
            text-align: center;
            display: inline-block;
        }
    }
}
