---
import '@fontsource-variable/inter';
import '../styles/global.scss';
import BaseHead from '../components/globals/BaseHead.astro';
import Header from '../components/globals/Header.astro';
import Footer from '../components/globals/Footer.astro';
import '../styles/global.scss';

const { title } = Astro.props;
---

<html lang="en">
	<BaseHead title={title}/>
	<body>
		<Header />
		<div class="main">
			<slot />
		</div>
		<Footer />
	</body>
</html>

<script>
	import main from '../js/main'
	main()
</script>

<style lang="scss" is:global>
	
</style>

