@use '@styles/mixins' as *;
.home-prod {
    &-title-wrap {
        grid-column: 1/11;
        margin-bottom: 8rem;
        @include md {
            margin-bottom: 14rem;
        }
        @include sm {
            grid-column: span 4;
            margin-bottom: 13rem;
        }
    }
    &-title {
        max-width: 90rem;
        @include md {
            max-width: 65rem;
        }
        @include sm {
            @include text(h3);
        }
    }
}