@use '@styles/colors' as *;
@use '@styles/mixins' as *;
.home-prod {
    //--btnHeight: 16.8rem;
    //--HomeProductCardHeight: 66.2rem;
    //height: calc(100% - 28.8rem - var(--btnHeight) + ((100vh - var(--HomeProductCardHeight)) / 2));  // 100% - padding - btn + card's top
    padding-bottom: var(--SectionPadBot);
    contain: paint;
    &-cards {
        grid-column: 11/16;
        grid-row: 1/3;
        position: relative;
        @include md {
            grid-column: 8/13;
            grid-row: 2/3;
        }
        @include sm {
            grid-column: span 4;
        }
        &-inner {
            height: var(--HomeProductCardHeight);
            top: calc((100vh - var(--HomeProductCardHeight)) / 2);
            position: sticky;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: opacity 400ms ease;
            opacity: 0;
            pointer-events: none;
            &.active {
                opacity: 1;
                pointer-events: auto;
            }
            @include md {
            }
            @include sm {
                position: relative;
                height: auto;
                max-height: none;
                top: 0;
                opacity: 1;
                pointer-events: auto;
            }
        }
        &-nav {
            display: flex;
            &-item {
                @include size(10.2rem, 10rem);
                border-left: solid .2rem var(--cl-txt);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--cl-txt);
                @include md {
                    @include size(5.6rem);
                }
                .ic {
                    @include transition(all 200ms ease);
                }
                &:not(.disable):hover {
                    color: var(--cl-orange)
                }
                &:not(.disable):active {
                    .ic {
                        transform: translateX(.5rem);
                    }
                    &:first-child {
                        .ic {
                            transform: rotate(180deg) translateX(.5rem);
                        }
                    }
                }
                &:first-child .ic {
                    transform: rotate(180deg);
                }
                &.disable {
                    pointer-events: none;
                    .ic {
                        opacity: .2;
                    }
                }
            }
        }
        &-top {
            display: flex;
            height: 10rem;
            justify-content: space-between;
            border-bottom: solid .2rem var(--cl-txt);
            align-items: center;
            border: solid .2rem var(--cl-txt);
            @include md {
                height: 5.6rem;
            }
            &-txt {
                margin-left: 3.2rem;
                max-width: 13.6rem;
                @include md {
                    margin-left: 1.2rem;
                    @include text(14);
                }
            }
        }
        &-middle {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            border: solid .2rem var(--cl-txt);
            border-bottom: none;
            border-top: none;
            @include sm {
                height: auto;
                width: 100%;
                aspect-ratio: 1.1;
            }
        }
        &-bottom {
            display: flex;
            height: 10rem;
            justify-content: space-between;
            align-items: center;
            border: solid .2rem var(--cl-txt);
            @include md {
                height: 5.6rem;
            }
            &-txt-wrap {
                margin-left: 3.2rem;
                margin-right: 3.2rem;
                display: grid;
                align-items: center;
                @include md {
                    margin-left: 1.2rem;
                }
            }
            &-txt {
                grid-column: 1/2;
                grid-row: 1/2;
                opacity: 0;
                pointer-events: none;
                @include transition(opacity 400ms ease);
                @include md {
                    @include text(16);
                }
                &.active {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
        &-qr {
            border-left: solid .2rem var(--cl-txt);
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: 1/1/2/2;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.4s ease;
            @include size(10.2rem, 10rem);
            @include md {
                @include size(5.6rem);
                .ic-80 {
                    @include size(4rem);
                }
            }
            &.active {
                opacity: 1;
                pointer-events: auto;
            }
            &-wrap {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
        &-pagination {
            display: none;
            align-items: center;
            justify-content: center;
            padding-block: 1.6rem;
            @include sm {
                display: flex;
            }
            &-dot {
                padding: .3rem;
                span {
                    @include size(.7rem);
                    border-radius: 50%;
                    background-color: var(--cl-txt);
                    transition: all 0.4s ease;
                    display: block;
                }
                &.active {
                    span {
                        background-color: var(--cl-orange);
                    }
                }
            }
        }
    }
    &-pdf {
        grid-column: 1/9;
        justify-self: start;
        padding-block: 5rem;
        @include md {
            padding-block: 3.6rem;
        }
        @include sm {
            grid-column: span 4;
            justify-self: center;
            padding-block: 2rem;
        }
        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid .2rem var(--cl-txt);
            transition: all 400ms ease;
            &:hover {
                color: var(--cl-orange);
                border-color: var(--cl-orange);
                .home-prod-pdf-link-ic {
                    border-color: var(--cl-orange);
                }
            }
            &-ic {
                @include size(7.2rem, 7rem);
                border-right: solid .2rem var(--cl-txt);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: border-color 400ms ease;
                @include md {
                    @include size(6rem);
                }
                .ic-32 {
                    @include size(2.4rem);
                }
            }
            &-txt {
                padding: 2rem;
                @include md {
                    padding: 1.8rem 1.6rem;
                }
                @include sm {
                    padding: 1.6rem 1.8rem;
                }
            }
        }
    }
}