@use '@styles/mixins' as *;
@use '@styles/colors' as *;

.input {
    background: transparent;
    width: 100%;
    color: var(--cl-txt);

    padding: {
        top: var(--offset-top);
        left: var(--offset-left);
        bottom: 3rem;
        right: 3rem;
    };
    @include md {
        padding: {
            bottom: 2.1rem;
            right: 2.1rem;
        };
    }
    &:not(:active), &:not(:focus){
        cursor: pointer;
    }
    &:active, &:focus {
        cursor: text;
        outline: none;
    }
    &:active, &:focus {
        &+ label  {
            &+ span > span {
                transform: scaleX(1);
            }
        }
        &~ label {
            transform: var(--transform);
            top: var(--top-transform);
        }
    }
    &:not(:placeholder-shown) {
        &~ label {
            transform: var(--transform);
            top: var(--top-transform);
        }
    }
}