@use '@styles/mixins' as *;
@use '@styles/colors' as *;

.input {
    background: transparent;
    width: 100%;
    color: var(--cl-txt);

    padding: {
        top: var(--offset-top);
        left: var(--offset-left);
        bottom: 3rem;
        right: 3rem;
    };
    &:not(:active), &:not(:focus){
        cursor: pointer;
    }
    &:active, &:focus {
        cursor: text;
        outline: none;
    }
    &:active, &:focus {
        &~ span  {
            &~ span {
                transform: scaleX(1);
            }
        }
        &~ label {
            transform: var(--transform);
            top: 3rem;
        }
    }
    &:not(:placeholder-shown) {
        &~ label {
            transform: var(--transform);
            top: 3rem;
        }
    }
}

@include md {
    .input {
        padding: {
            top: var(--offset-top);
            left: var(--offset-left);
            bottom: 2.1rem;
            right: 2.1rem;
        };
    }
}