---
const currYear = new Date().getFullYear()
---

<footer>
    <h1>Footer</h1>
    <p class="copyright">{currYear}</p>
</footer>

<style>
    h1, p {
        color: white;
        text-align: center;
        font-size: 2.4rem;
    }
</style>
