---
import { Image } from "astro:assets"
import logo from '../../assets/kanak-logo.svg';
import linkedIn from '../../assets/ic-linkedin.svg';
const currYear = new Date().getFullYear()
---

<footer class="ft bg-light">
    <div class="line line-top"></div>
    <div class="container grid">
        <div class="ft-left">
            <div class="ft-head">
                <div class="ft-logo">
                    <Image src={logo} alt="kanak logo" class="img img-h"/>
                </div>
                <div class="line line-bottom"></div>
            </div>
            <div class="ft-left-body">
                <div class="ft-left-body-list">
                    <div class="ft-left-body-list-item">
                        <div class="txt txt-18 txt-med ft-left-body-label">
                            Get in touch
                        </div>
                        <a href="#" class="heading h6 txt-up txt-black ft-left-body-txt">
                            info@kanaknaturals.com
                        </a>
                    </div>
                    <div class="ft-left-body-list-item">
                        <div class="txt txt-18 txt-med ft-left-body-label">
                            Contact
                        </div>
                        <a href="#" class="heading h6 txt-up txt-black ft-left-body-txt">
                            +1 (260) 490 4790
                        </a>
                    </div>
                    <div class="ft-left-body-list-item">
                        <div class="txt txt-18 txt-med ft-left-body-label">
                            Headquarters
                        </div>
                        <a href="#" class="heading h6 txt-up txt-black ft-left-body-txt">
                            321 Hovan Drive, Fort Wayne, IN 46825, US
                        </a>
                    </div>
                </div>
                <div class="ft-left-body-social">
                    <a href="#" class="ft-left-body-social-item">
                        <Image src={linkedIn} alt="Linkedin" class="ic ic-24"/>
                    </a>
                </div>
                <a href="#" class="heading h1 txt-up txt-black ft-left-body-title">
                    Let's talk!
                </a>
            </div>
            <div class="ft-tail">
                <div class="line line-top"></div>
                <p class="txt txt-12 txt-bold ft-copy">
                    ⁠©⁠ {currYear} Kanak Naturals. All rights reserved.
                </p>
            </div>
        </div>
        <div class="ft-right">
            <div class="ft-right-col">
                <div class="line line-left"></div>
                <div class="ft-head">
                    <h3 class="heading h6 txt-up txt-black ft-right-head-title">
                        Products & Services
                    </h3>
                    <div class="line line-bottom"></div>
                </div>
                <div class="ft-right-body">
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Product Katalog
                        </div>
                    </a>
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Private Label
                        </div>
                    </a>
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Kustom Packaging Solutions
                        </div>
                    </a>
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Testing, QC & Compliance
                        </div>
                    </a>
                </div>
                <div class="ft-tail">
                    <div class="line line-top"></div>
                    <a href="#" class="txt txt-12 txt-bold txt-up ft-right-tail-link">
                        Terms & Conditions
                    </a>
                </div>
            </div>
            <div class="ft-right-col">
                <div class="line line-left"></div>
                <div class="ft-head">
                    <h3 class="heading h6 txt-up txt-black ft-right-head-title">
                        Kustomers
                    </h3>
                    <div class="line line-bottom"></div>
                </div>
                <div class="ft-right-body">
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Retails
                        </div>
                    </a>
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Food service
                        </div>
                    </a>
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Food processors
                        </div>
                    </a>
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Catering
                        </div>
                    </a>
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Education
                        </div>
                    </a>
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Medical
                        </div>
                    </a>
                </div>
                <div class="ft-tail">
                    <div class="line line-top"></div>
                    <a href="#" class="txt txt-12 txt-bold txt-up ft-right-tail-link">
                        Terms & Conditions
                    </a>
                </div>
            </div>
            <div class="ft-right-col">
                <div class="line line-left"></div>
                <div class="ft-head">
                    <h3 class="heading h6 txt-up txt-black ft-right-head-title">
                        About
                    </h3>
                    <div class="line line-bottom"></div>
                </div>
                <div class="ft-right-body">
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Our story
                        </div>
                    </a>
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Awards and Endorsements
                        </div>
                    </a>
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Sustainability
                        </div>
                    </a>
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Logistics Capabilities
                        </div>
                    </a>
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Distribution Network
                        </div>
                    </a>
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Resources
                        </div>
                    </a>
                    <a href="#" class="ft-right-body-link">
                        <div class="dot"></div>
                        <div class="txt txt-18 txt-med ft-right-body-link-txt">
                            Kareers
                        </div>
                    </a>
                </div>
                <div class="ft-tail">
                    <div class="line line-top"></div>
                    <a href="#" class="txt txt-12 txt-bold txt-up ft-right-tail-link">
                        Terms & Conditions
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<style lang="scss">
    @import '../../styles/colors.scss';
    @import '../../styles/mixins.scss';
    .ft {
        position: relative;
        z-index: 4;
        background-color: var(--cl-bg);
        &-left {
            grid-column: span 6;
            margin-right: calc(var(--grid-gap) * -1);
            &-body {
                padding-top: 4.6rem;
                &-list {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    row-gap: 3.2rem;
                    margin-bottom: 3.2rem;
                    &-item {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        row-gap: .4rem;
                    }
                }
                &-social {
                    margin-bottom: 11rem;
                    &-item {
                        @include size(5.6rem);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--cl-txt);
                    }
                }
                &-title {
                    margin-top: auto;
                    margin-bottom: 1.8rem;
                }
            }
        }
        &-right {
            grid-column: span 10;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            &-col {
                display: flex;
                flex-direction: column;
                position: relative;

                .ft-head {
                    padding: 0 2rem;
                }
                .ft-tail {
                    margin-top: auto;
                    padding: 0 2rem;
                }
            }
            &-body {
                display: flex;
                flex-direction: column;
                align-items: start;
                row-gap: 2rem;
                padding: 2.8rem 2rem;
                &-link {
                    display: flex;
                    align-items: center;
                    column-gap: .8rem;
                    .dot {
                        flex: none;
                        border-radius: 50%;
                        @include size(1rem);
                        background-color: var(--cl-txt);
                    }
                }
            }
        }
        &-head {
            height: 9.2rem;
            display: flex;
            align-items: center;
            justify-content: start;
            position: relative;
        }
        &-tail {
            height: 6.2rem;
            display: flex;
            align-items: center;
            justify-content: start;
            position: relative;
        }
        &-logo {
            height: 5.2rem;
        }
        .line {
            position: absolute;
            &-top {
                left: 0;
                top: 0;
            }
            &-bottom {
                left: 0;
                bottom: 0;
            }
            &-left {
                width: .2rem;
                height: 100%;
                left: -.2rem;
                top: 0;
            }
        }
    }
</style>
